page-sorteios {

    .toolbar-background {
      background-color: #40739e;
    }
    .bar-button-default-ios {
      color: white;
    }
    .bar-button-default-md {
      color: white;
    }
    .masters {
      background-image: white;
      color: black;
    }
    .noitems {
        position: absolute;
        top: 43%;
        width: 93%;
        color: black;
        text-align: center;
        font-size: 4vw;
    }
    .icons {
        font-size: 9vw; //Preferred size here
        color: #40739e;
    }
}    