<ion-header>
        <ion-navbar>
          <ion-title color="light">
            Sorteios & Brindes
          </ion-title>
        </ion-navbar>
      </ion-header>
      
      <ion-content padding class="masters">
        <p [innerHTML]="content"></p>
        <div *ngIf="lotteryNumber == '' && content != ''">
          <p>Para participar, você deve gerar seu Número da Sorte:</p>
          <button ion-button icon-start block color="buttons" (click)="generateNumber()">
            <ion-icon name="medal"></ion-icon> GERAR NÚMERO DA SORTE
          </button>
        </div>
        <div *ngIf="lotteryNumber != '' && content != ''">
           <p>Anote seu Número da Sorte:</p>
           <h1><strong>{{ lotteryNumber }}</strong></h1>
           <p>Você será notificado no dia do sorteio, caso seja contemplado.<br><br>Boa Sorte!</p>
        </div>
        <div *ngIf="noitems == true" class="noitems"><ion-icon class="icons" name="medal"></ion-icon><br>Nenhum sorteio disponível no momento!</div>

      </ion-content>
      
      
      