<ion-header>
    <ion-navbar>
      <ion-title color="light">Meu Cadastro</ion-title>
    </ion-navbar>
</ion-header> 

<ion-content padding class="masters">

<p class="pp"><ion-icon class="icons" name="contact"></ion-icon><br>Clique nos cartões abaixo caso deseja modificar alguma informação em seu cadastro.</p>

<p class="pp2"><ion-icon name="contact"></ion-icon> Dados Pessoais</p>
<ion-card class="card">
    <ion-card-header>
      <strong class="hh">{{ signup.name }}</strong>
    </ion-card-header>
    <ion-card-content>
      Email: <strong>{{ signup.emailuser }}</strong><br>
      CPF/CNPJ: <strong>{{ signup.cpfcnpj }}</strong><br>
      Sexo: <strong>{{ signup.gender }}</strong><br>
      Data de Nascimento: <strong>{{ signup.nascimento }}</strong>
    </ion-card-content>
    <button class="buttons" ion-button icon-start block color="offers" (click)="updateSign(signup.iduser)">
        <ion-icon name="contact"></ion-icon>
        <strong>ALTERAR MEUS DADOS</strong>
      </button>
</ion-card>

<p *ngIf="signup.iduser > 0" class="pp2"><ion-icon name="home"></ion-icon> Endereços</p>
<button *ngIf="signup.iduser > 0" class="newadd" ion-button block color="buttons" (click)="newAddress();">
  + NOVO ENDEREÇO
</button>
<div *ngIf="signup.uadid != ''">
  <ion-card radio-group no-lines class="card" *ngFor="let add of address">
      <ion-card-content>
        <p class="pp3" (click)="updateAddress(add.uadid)">
          <strong>{{ add.address }}, {{ add.number }} {{ add.complement }}</strong><br>
          CEP: {{ add.zipcode }}<br>
          {{ add.neighboor }} - {{ add.city }}/{{ add.state }}<br>
          Telefone: {{ add.tel1 }}<br>
          <strong style="color:#ea6153">{{ add.type }}</strong> <br>
      </p>
      </ion-card-content>
      <button class="buttons" ion-button icon-start block color="offers" (click)="removeAddress(add.uadid)">
          <ion-icon name="trash"></ion-icon>
          <strong>REMOVER ENDEREÇO</strong>
        </button>
  </ion-card>
</div>
<div *ngIf="address.length == 0"><strong><ion-icon name="alert"></ion-icon> Você não possui endereços cadastrados!</strong></div>

<p class="pp2"><ion-icon name="albums"></ion-icon> Se Liga pay! <img class="img_seligapay" src="assets/imgs/seligapay.png"></p>

<ion-card class="card">
    <ion-card-content>
      O Se Liga pay! é a sua nova Carteira Virtual. 
      Com ela você adquire ofertas e promoções, 
      de forma prática, rápida e segura!
    </ion-card-content>
    <button class="buttons" ion-button icon-start block color="offers" (click)="openWallet()">
        <ion-icon name="eye"></ion-icon>
        <strong>VER MINHA CARTEIRA</strong>
      </button>
</ion-card>


</ion-content>                