page-alteracao {

    .toolbar-background {
        background-color: #40739e;
      }
      .bar-button-default-ios {
        color: white;
      }
      .bar-button-default-md {
        color: white;
      }
      .masters {
        background-color: white;
        color: black;
       
      }
      

    .pp {
        text-align: center;
        color: black;
        font-size: 4vw;
    }

    .pp2 {
        font-size: 20px; //Preferred size here
        font-weight: bold;
    }

    .pp3 {
        font-size: 3.5vw; //Preferred size here
        color: black;
    }

    .hh {
        font-size: 4vw;
        color: black;
    }

    .masters2 {
        background-image: linear-gradient(to bottom right, #008bff, #034880);
        color: white;
    } 
    
   

    .icons {
        color: #40739e;
        font-size: 40px; //Preferred size here
    }
    .card {
        color: black;
        background-color: rgb(226, 224, 224);
        width: 100%;
    }
     ion-card, .card-ios .card-md {
        margin: 0px 0px 10px 0px !important
    }
    .button-md {
        font-size: 3vw !important;
        padding: 0;
        border-radius: 0;
        margin: 0px !important;
    }
    .button-ios {
        font-size: 3vw !important;
        padding: 0;
        border-radius: 0;
        margin: 0px !important;
    }
    .newadd {
        position: absolute;
        top: 365px;
        right: 16px;
        border-right-color: 10px;
        border-radius: 4px;
        max-width: 40%;
    }

    .item-md {
        padding-left: 0px;
    }
    .item-ios {
        padding-left: 0px;
    }
    .radio-md .radio-icon {
        border-color: rgb(146, 144, 144);
    }
    .radio-ios .radio-icon {
        color: rgb(146, 144, 144);
    }
    .radio-md .radio-checked {
        border-color: #ea6153;
    }
    .radio-md .radio-inner {
        background-color: #ea6153;
    }
    .radio-ios .radio-checked .radio-inner {
        border-color: #ea6153;
    }
    .radio-ios .radio-inner {
        border-color: gray;
    }
    .item-radio.item-md ion-label {
        text-align: right;
        margin-left: 0;
        font-size: 3vw;
        margin-top: 12px;
    }
    .item-radio.item-ios ion-label {
        text-align: right;
        margin-left: 0;
        font-size: 3vw;
        margin-top: 12px;
    }
    .item-radio-checked.item-md ion-label {
        color: #ea6153;
        font-weight: bold;
    }
    .item-radio-checked.item-ios ion-label {
        color: #ea6153;
        font-weight: bold;
    }
    .transp {
        background-color: transparent;
    }
    .card-md ion-list {
        margin-bottom: 0;
        width: 100%;
        position: relative;
        max-height: 10px;
        right: -26px;
        top: -18px;
    }
    .card-ios ion-list {
        margin-bottom: 0;
        width: 100%;
        position: relative;
        max-height: 10px;
        right: -26px;
        top: -18px;
    }
    .main-address {
        position: relative;
        max-height: 10px;
        right: -26px;
        text-align: right;
        top: -18px;
        width: 100%;
        color: black;
    }
    .img_seligapay {
        width: 35%;
        position: absolute;
        right: 15px;
    }
} 