<ion-header>
    <ion-navbar >
        <ion-title color="light" >
        Meu Cadastro
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

<p class="pp" *ngIf="usrID < 1">Olá! Informe seus dados pessoais para se cadastrar no Se Liga Aí:</p>
<p class="pp" *ngIf="usrID > 0">Edite seu cadastro no Se Liga Aí:</p>
<form [formGroup]="form" (submit)="signUp()">
    <ion-list radio-group no-lines>
        <ion-item class="masters">
            <ion-label *ngIf="form.controls.name.valid || (!form.controls.name.dirty && !submitAttempt)" color="light" stacked>Nome Completo:</ion-label>
            <ion-label *ngIf="!form.controls.name.valid && (form.controls.name.dirty || submitAttempt)" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Informe seu nome corretamente!</strong></ion-label>
            <ion-input maxlength="50" value="{{ usr_name }}" formControlName="name" placeholder="Ex: Adriana de Oliveira Silva"></ion-input>
        </ion-item>
        <ion-item class="masters">
            <ion-label *ngIf="form.controls.name.valid || (!form.controls.name.dirty && !submitAttempt)" color="light" stacked>Sexo:</ion-label>
            <ion-label *ngIf="!form.controls.gender.valid && (form.controls.gender.dirty || submitAttempt)" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Informe seu sexo!</strong></ion-label>
            <ion-select okText="OK" cancelText="Cancelar" placeholder="Masculino ou Feminino" formControlName="gender">
                <ion-option [selected]="isFemale" value="female">Feminino</ion-option>
                <ion-option [selected]="isMale" value="male">Masculino</ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="masters">
            <ion-label *ngIf="form.controls.datanasc.valid || (!form.controls.datanasc.dirty && !submitAttempt)" color="light" stacked>Data de Nascimento:</ion-label>
            <ion-label *ngIf="!form.controls.datanasc.valid && (form.controls.datanasc.dirty || submitAttempt)" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Informe a data de nascimento!</strong></ion-label>
            <ion-datetime placeholder="Sua data de Nascimento" formControlName="datanasc" cancelText ="Cancelar" doneText="OK" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" [(ngModel)]="usr_datanasc"></ion-datetime>
        </ion-item>
        <ion-item class="masters">
            <ion-label *ngIf="form.controls.email.valid || (!form.controls.email.dirty && !submitAttempt)" color="light" stacked>E-mail:</ion-label>
            <ion-label *ngIf="!form.controls.email.valid && (form.controls.email.dirty || submitAttempt)" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Informe seu e-mail corretamente!</strong></ion-label>
            <ion-input maxlength="40" [disabled]="usrID > 0" formControlName="email" type="email" placeholder="seu@email.com.br" value="{{ usr_email }}"></ion-input>
        </ion-item>
        <ion-item class="masters">
            <ion-label *ngIf="form.controls.pwd.valid || (!form.controls.pwd.dirty && !submitAttempt)" color="light" stacked>Senha:</ion-label>
            <ion-label *ngIf="!form.controls.pwd.valid && (form.controls.pwd.dirty || submitAttempt)" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Informe uma senha válida!</strong></ion-label>
            <ion-input maxlength="8" formControlName="pwd" type="password" placeholder="De 6 a 8 caracteres"></ion-input>
        </ion-item>
        <ion-item class="masters">
            <ion-label *ngIf="form.controls.cpwd.valid || (!form.controls.cpwd.dirty && !submitAttempt)" color="light" stacked>Confirme a Senha:</ion-label>
            <ion-label *ngIf="!form.controls.cpwd.valid && (form.controls.cpwd.dirty || submitAttempt)" stacked><strong class="error"><ion-icon name="alert"></ion-icon> As senhas não conferem!</strong></ion-label>
            <ion-input maxlength="8" formControlName="cpwd" type="password" placeholder="De 6 a 8 caracteres"></ion-input>
        </ion-item>
        <ion-item class="masters">
            <ion-label *ngIf="form.controls.cpfcnpj.valid || (!form.controls.cpfcnpj.dirty && !submitAttempt)" color="light" stacked>Informe seu CPF ou CNPJ:</ion-label>
            <ion-label *ngIf="!form.controls.cpfcnpj.valid && (form.controls.cpfcnpj.dirty || submitAttempt)" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Informe seu CPF/CNPJ corretamente!</strong></ion-label>
            <ion-input maxlength="18" [disabled]="usrID > 0 && signed" [brmasker]="this.currentMask" value="{{ usr_cpfcnpj }}" formControlName="cpfcnpj" type="tel" placeholder="Digite apenas números"></ion-input>
        </ion-item>
    </ion-list>       
    <button ion-button block icon-start type="submit" color="secondary">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        SALVAR
    </button>
 </form>
</ion-content>
      