.ios, .md {
    page-cadastro {      
        .toolbar-background {
            background-color: #40739e;
          }
          .bar-button-default-ios {
            color: white;
          }
          .bar-button-default-md {
            color: white;
          }
          .masters {
            background-color: white;
            color: black;
           
          }

        .error { 
            color: #f37053;
        }

      

        .icons {
            font-size: 40px; //Preferred size here
            color: white;
          }
 
    

        .pp {
            font-size: 5vw;
            
            font-weight: bold;
        }

        .item-md.item-block .item-inner,
        .item-md.item-input.input-has-focus .item-inner,
        .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
        .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
        .list-md .item-input.input-has-focus:last-child,
        .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
        .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
            border-bottom: none;
            box-shadow: none;
        }
        .list-md .item-input.input-has-focus:last-child .item-inner,
        .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner,
        .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child .item-inner {
            box-shadow: none; 
        }
        .text-input-ios {
            border-radius: 4px;
            border: 1px solid rgb(197, 196, 196);
            width: 100%;
            height: 40px;
            background-color: rgb(243, 244, 245);
            padding-left: 5px;
        }
        .text-input-md {
            border-radius: 4px;
            border: 1px solid rgb(197, 196, 196);            
            width: 100%;
            height: 40px;
            background-color: rgb(243, 244, 245);
            padding-left: 5px;
        }
        .item-md {
            padding-left: 0px;
        }
        .item-ios {
            padding-left: 0px;
        }
        .select-md .select-icon {
            margin-top: 4px;
        }
        .select-md .select-icon .select-icon-inner {
            color: black;
            padding-top: 10px;
        }
        .item-label-stacked .select-md {
            padding-top: 6px;
        }
        .select-ios .select-icon {
            margin-top: 4px;
        }
        .select-ios .select-icon .select-icon-inner {
            color: black;
            padding-top: 10px;
        }
        .item-label-stacked .select-ios {
            padding-top: 6px;
        }
        .select-md {
            border-radius: 4px;
            color: black;
            border: 1px solid rgb(197, 196, 196);            
            width: 100%;
            height: 40px;
            background-color: rgb(243, 244, 245);
            padding-left: 5px;
            padding-top: -10px;
            margin-top: 8px;
        }
        .datetime-text {
            border-radius: 4px;
            color: black;
            border: 1px solid rgb(197, 196, 196);            
            width: 100%;
            height: 40px;
            background-color: rgb(243, 244, 245);
            padding-top: 5px;
            padding-left: 5px;
            margin-bottom: -10px;
            margin-top: -4px;
        }
        .select-ios {
            border-radius: 4px;
            color: black;
            border: 1px solid rgb(197, 196, 196);            
            width: 98%;
            height: 40px;
            background-color: rgb(243, 244, 245);
            padding-left: 5px;
            padding-top: -10px;
            margin-top: 8px;
        }
    }
 
}