    <ion-header *ngIf="1 == 2">
        <ion-navbar>
          <ion-title color="light">Entre ou Cadastre-se!</ion-title>
        </ion-navbar>
      </ion-header>
      
      <ion-content padding class="masters">
            <div class="header">
                <img src="assets/imgs/logo.png" class="logo"/>
            </div>   
             
            <div class="footer">
                <form [formGroup]="form" (submit)="loginEmail()">
                    <ion-list radio-group no-lines>
                        <ion-item class="nolines">
                            <ion-label class="nolines" stacked>Informe seu Email:</ion-label>
                            <ion-input type="email" placeholder="seu@email.com.br" name="user" formControlName="user"></ion-input>
                        </ion-item>
                        <ion-item class="nolines">
                            <ion-label color="light" stacked>Digite sua Senha:</ion-label>
                            <ion-input #inputp type="password" placeholder="Se já possuir cadastro!" name="pwd" formControlName="pwd"></ion-input>
                            <ion-badge #iconp name="eye" style="font-size:38px;" clear item-end (click)='showPassword()'></ion-badge>
                        </ion-item>
                    </ion-list>

                    <div class="btns">
                        <button ion-button color="offers" class="buttons" block icon-left type="submit">
                            ENTRAR
                        </button>
                    </div>
                    <div class="btns">
                        <button id="fb" type="button" class="buttons" ion-button block icon-left (click)='loginFacebook();'>
                            <ion-icon name="logo-facebook"></ion-icon>
                            ENTRAR COM FACEBOOK
                        </button>
                    </div>
                    
                    </form>
    
                    <a href="#" (click)="renew();">Esqueci a senha</a> | 
                    <a href="#" (click)="signup();">Quero me Cadastrar</a>
                    <div class="links">
                        <a class="sn" (click)="followTW()">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                        <a class="sn" (click)="followFB()">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                        <a class="sn" (click)="followIG()">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                    </div>
            </div>
            
      </ion-content>