<ion-header>
    <ion-navbar>
      <ion-title color="light">{{ catName }}</ion-title>
    </ion-navbar>
  </ion-header>
    
<ion-content class="masters">

    <div class="clear-header"></div>

    <ion-grid>
        <ion-row>
          <ion-col col-6 *ngFor="let str of stores" (click)="getStoreDetails(str.addid, str.store)">
            <ion-card class="card animated rubberBand">
             <div class="image-container" [style.background-image]="'url(' + str.logo + ')'"></div>
             <div class="image-container-noimage" [style.background-image]="'url(assets/imgs/logomenu.png)'"></div>
             <div class="offerseal" *ngIf="str.cansell == 1"><ion-icon class="shop" name="cart"></ion-icon></div>
             <ion-badge class="distance" *ngIf="str.latitude != ''">{{ getDistance(str.latitude, str.longitude) }}</ion-badge> 
            </ion-card>
            <div class="titlecard">{{ str.store }}</div>
            <div class="deal">{{ str.numoffers }} | até <strong>{{ str.max_discount }}%</strong> OFF</div>
          </ion-col>
        </ion-row>
    </ion-grid>
    <div *ngIf="nostores == true" class="noitems"><ion-icon class="icons" name="pricetags"></ion-icon><br>Nenhum ítem encontrado!</div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
        <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
      </ion-infinite-scroll>

</ion-content>