  page-lojas {
   
  .toolbar-background {
    background-color: #40739e;
  }
  .bar-button-default-ios {
    color: white;
  }
  .bar-button-default-md {
    color: white;
  }
  .masters {
    background-color: rgb(224, 221, 221) !important;
    color: black;
  }
  .clear-header {
    margin-top: 10px;
  }
  .card {
    min-height: 80px;
    border: 1px rgb(168, 167, 168) solid;
    border-radius: 3px;
  }
  .image-container {
    z-index: 9999;
    min-height: 80px;
    background-size: cover;
    background-position: center;
  }
  .offerseal {
    position: absolute;
    background-image: url('../../assets/imgs/discount.png');
    top: -5px;
    right: -12px;
    width: 45px;
    min-height: 45px;
    background-size: 45px 37px;
    background-repeat: no-repeat;
    }
    .shop {
      color: white;
      position: absolute;
      line-height: 12px;
      top: 13px;
      left: 10px;
      font-size: 20px;
      
    }

.distance {
  position: absolute;
  bottom: 4px;
  left: 4px;
  font-size: 9px;
  border-radius: 3px !important;
  background-color: #0c68a4;
}
.titlecard {
  position: relative;
  top: 5px;
  left: 1px;
  color: black;
  max-width: 150% !important;
  line-height: 13px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: -0.2px;
  text-transform: capitalize !important;
}
.deal {
  color: #9c2020;
  position: relative;
  padding-bottom: 14px;
  line-height: 12px;
  top: 8px;
  left: 1px;
  font-size: 11px;
}
ion-grid {
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
  border-bottom: 2px rgb(206, 204, 204) solid;
}  

  .icons {
    font-size: 55px; //Preferred size here
    color: #40739e;
  }
  
  .noitems {
    position: absolute;
    top: 40%;
    width: 100%;
    color: black;
    font-weight: bold;
    text-align: center;
  }
}
