<ion-header>
        <ion-navbar>
          <ion-title color="light">{{ strName }}</ion-title>
          <ion-buttons end *ngFor="let sha of stores">
                <button ion-button icon-only color="light" (click)="share(sha.store, sha.logo)">
                    <ion-icon name="share"></ion-icon>
                </button>
            </ion-buttons>
        </ion-navbar>
      </ion-header>

      <ion-content class="masters" *ngFor="let str of stores">
          <div class="clear-header"></div>
          <ion-grid (click)="stopAllYouTubeVideos()">
              <ion-row>
                <ion-col col-12 class="col-slide">
                    <ion-slides slider="data.slider">
                      <ion-slide class="slide" *ngIf="str.youtube != ''">
                        <div class="card-slide-video">
                          <div class="overlay-videoT"></div>
                          <div class="overlay-videoL"></div>
                          <div class="overlay-videoR"></div>
                            <iframe 
                                  [src]="youtubeURL" 
                                  width="100%" 
                                  height="100%" 
                                  frameborder="0" 
                                  allowfullscreen></iframe>
                        </div>
                      </ion-slide>
                      <ion-slide class="slide" *ngFor="let image of str.photos"> 
                            <div class="card-slide">
                              <ion-card class="card-banner-slide animated fadeInLeft">
                                  <div class="image-container-banner" [style.background-image]="'url(' + image.photo + ')'"></div>
                                  <ion-card-content class="banner-content">
                                      <div class="text-banner">&nbsp;</div>
                                  </ion-card-content>
                                </ion-card>
                            </div>
                      </ion-slide>
                  
                    </ion-slides>
      
                  </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid>
                <ion-row>
                  <ion-col col-12>
                      <button ion-button small class="endbutton animated" color="offers" (click)="showOffers(str.addid, str.store)">
                          {{ bt_show_offer }}
                      </button>
                      <div class="offer-col">
                        <strong>{{ str.numoffers }}</strong><br>
                        {{ msg_discount }} de at&eacute; <strong>{{ str.max_discount }}%</strong> OFF!
                      </div>
                  </ion-col>
                </ion-row>  
            </ion-grid>

            <ion-grid>
                <ion-row>
                  <ion-col col-12>
                      <span class="title-col"><strong>Sobre {{ str.store }}</strong></span>
                      <ion-icon class="icons favs" icon-only color="buttons" (click)="favourite()" [name]="isFav ? 'star' : 'star-outline'"></ion-icon>
                  </ion-col>
                  <ion-col col-12>
                      <div class="subtitle-col"><strong>Funcionamento</strong></div>
                  </ion-col>
                  <ion-col col-12>
                      <div class="description-col">
                        <div *ngIf="open_time == true" [innerHTML]="str.open24h"></div> 
                        <a *ngIf="open_time == false" class="link-gray" (click)="openTime();">Ver dias e hor&aacute;rios</a>
                      </div>
                  </ion-col>
                  <ion-col col-6>
                      <div class="subtitle-col"><strong>Endere&ccedil;o</strong></div>
                  </ion-col>
                  <ion-col col-6 *ngIf="stores.length != 0">
                    <div class="link-col"><a class="link" (click)="showMap(str.latitude, str.longitude, str.store, storeAddress, str.numoffers, str.icon)">Mapa</a></div>
                  </ion-col>
                  <ion-col col-12>
                      <ion-icon name='compass' class="icons endicon" icon-only color="buttons" (click)="goToStore()"></ion-icon>
                      <div class="description-col">
                        {{ str.address }}, {{ str.number }} {{ str.complement }}<br>
                        CEP {{ str.zipcode}} - {{ str.neighboor }}<br>
                        {{ str.city }}/{{ str.state }}
                      </div>
                  </ion-col>
                  <ion-col col-12>
                      <div class="subtitle-col"><strong>Detalhes</strong></div>
                  </ion-col>
                  <ion-col col-12>
                      <div class="description-col" [innerHTML]="txt_description_short">
                      </div>
                      <a class="link-gray" *ngIf="show_description == true" (click)="openDescription()">Leia mais</a>
                  </ion-col>
                </ion-row>  
            </ion-grid>

            <ion-grid *ngIf="noitemcoupon == false">
              <ion-row>
                <ion-col col-12>
                    <span class="title-col">{{ str.store }} tem Cupons!</span>
                </ion-col>
                <ion-col col-12 *ngIf="loadingcoupon == true">
                    <img src="assets/imgs/tag.gif" height="35px;">
                    <span class="title-loading"> Buscando Cupons...</span>
                </ion-col>
                <ion-col col-12 *ngFor="let cou of coupons">
                    <ion-card class="card-banner animated fadeInLeft">
                        <div class="image-container-banner" [style.background-image]="'url(' + cou.logo + ')'"></div>
                        <div class="subtitle-coupon">{{ cou.store }}</div>
                        <div class="star-coupon">*</div>
                        <div class="value-coupon"><strong>{{ cou.value | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</strong></div>
                        <div class="usein-coupon"> de desconto{{ cou.usein }}</div>
                        <div class="maxuse-coupon">* limite de <strong>{{ cou.maxusagepershop }}</strong> por usuário</div>
                        <div class="usecode-coupon">Clique no código</div>
                        <div class="code-coupon" (click)="copyText(cou.code, cou.strid)">{{ cou.code }}</div>
                        <ion-card-content class="banner-content">
                            <div class="text-banner">Válido até {{ cou.expires }}</div>
                        </ion-card-content>
                      </ion-card>
                  </ion-col>
              </ion-row>  
          </ion-grid>

            <ion-grid class="final-grid">
                <ion-row>
                    <ion-col col-12>
                        <span class="title-col"><strong>Entre em contato</strong></span>
                    </ion-col>
                    <ion-col col-2>
                    <ion-icon name='logo-whatsapp' class="icons" icon-only color="buttons" (click)="callWhats(str.whatsapp)"></ion-icon><br>
                  </ion-col>
                  <ion-col col-2 *ngIf="str.tel1.length > 0">
                  <ion-icon name='call' class="icons" icon-only color="buttons" (click)="callTel(str.tel1)"></ion-icon> 1
                </ion-col>
                <ion-col col-2 *ngIf="str.tel2.length > 0">
                    <ion-icon name='phone-portrait' class="icons" icon-only color="buttons" (click)="callTel(str.tel2)"></ion-icon> 2
                  </ion-col>
                  <ion-col col-2 *ngIf="str.email.length > 0">
                      <ion-icon name='mail' class="icons" icon-only color="buttons" (click)="callEmail(str.email)"></ion-icon>
                    </ion-col>
                  </ion-row>   
                  <ion-row *ngIf="str.twitter.length > 0 || str.instagram.length > 0 || str.url.length > 0">
                  <ion-col col-12>
                      <span class="title-col"><strong>Redes Sociais</strong></span>
                  </ion-col>
                    <ion-col col-2 *ngIf="str.twitter.length > 0">
                     <ion-icon name='logo-twitter' class="icons" icon-only color="buttons" (click)="callTwitter(str.twitter)"></ion-icon>
                    </ion-col>
                    <ion-col col-2 *ngIf="str.instagram.length > 0">
                     <ion-icon name='logo-instagram' class="icons" icon-only color="buttons"(click)="callInstagram(str.instagram)"></ion-icon>
                    </ion-col>
                    <ion-col col-2 *ngIf="str.url.length > 0">
                     <ion-icon name='link'  class="icons" icon-only color="buttons" (click)="callUrl(str.url)"></ion-icon>
                    </ion-col>
                </ion-row>  
            </ion-grid>
            
            <!-- <div class="storename">{{ str.branchname }}</div>
            <ion-badge *ngIf="str.latitude != ''" class="distance"> {{ getDistance(str.latitude, str.longitude) }} </ion-badge>
            <div class="loc_btn_favourite">
                <button class="btn_favourite" ion-fab round color="primary" (click)="favourite()">
                    <ion-icon [name]="isFav ? 'star' : 'star-outline'"></ion-icon>
                </button>
            </div>
    
            <div class="address"> 
              {{ str.address }}, {{ str.number }} {{ str.complement }}<br>
              CEP {{ str.zipcode}} - {{ str.neighboor }}<br>
              {{ str.city }}/{{ str.state }}<br><br>
              <div [innerHTML]="str.open24h"></div>  
              <ion-grid>
                <ion-row>
                  <ion-col col-4>
                        <p class="icon-buttons">
                            <ion-icon name='pricetags' icon-start color="buttons" (click)="showOffers(str.addid, str.store)"></ion-icon><br>
                            <span>Ver Ofertas</span>
                        </p>
                  </ion-col>
                  <ion-col col-4>
                        <p class="icon-buttons">
                            <ion-icon name='compass' icon-start color="primary" (click)="goToStore()"></ion-icon><br>
                            <span>Ir até lá</span>
                        </p>
                  </ion-col>
                  <ion-col col-4 *ngIf="str.email.length > 0">
                    <p class="icon-buttons">
                        <ion-icon name='mail' icon-start color="black" (click)="callEmail(str.email)"></ion-icon><br>
                        <span>E-mail</span>
                    </p>
                  </ion-col>
                  <ion-col col-4 *ngIf="str.whatsapp.length > 0">
                    <p class="icon-buttons">
                        <ion-icon name='logo-whatsapp' icon-start color="secondary" (click)="callWhats(str.whatsapp)"></ion-icon><br>
                        <span>WhatsApp</span>
                    </p>
                  </ion-col>
                  <ion-col col-4 *ngIf="str.tel1.length > 0">
                    <p class="icon-buttons">
                        <ion-icon name='call' icon-start color="buttons" (click)="callTel(str.tel1)"></ion-icon><br>
                        <span>Ligar</span>
                    </p>
                  </ion-col>
                  <ion-col col-4 *ngIf="str.tel2.length > 0">
                    <p class="icon-buttons">
                        <ion-icon name='phone-portrait' icon-start color="primary" (click)="callTel(str.tel2)"></ion-icon><br>
                        <span>{{ str.tel2 }}</span>
                    </p>
                  </ion-col>
                  <ion-col col-4 *ngIf="str.url.length > 0">
                    <p class="icon-buttons">
                        <ion-icon name='globe' icon-start color="warning" (click)="callUrl(str.url)"></ion-icon><br>
                        <span>Visitar Site</span>
                    </p>
                  </ion-col>
                  <ion-col col-4 *ngIf="str.instagram.length > 0">
                    <p class="icon-buttons">
                        <ion-icon name='logo-instagram' icon-start color="insta"(click)="callInstagram(str.instagram)"></ion-icon><br>
                        <span>Instagram</span>
                    </p>
                  </ion-col>
                  <ion-col col-4 *ngIf="str.twitter.length > 0">
                    <p class="icon-buttons">
                        <ion-icon name='logo-twitter' icon-start color="primary" (click)="callTwitter(str.twitter)"></ion-icon><br>
                        <span>Twitter</span>
                    </p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div><br><br>   -->             
          </ion-content>