page-categorias {

    
  .toolbar-background {
    background-color: #40739e;
  }
  .bar-button-default-ios {
    color: white;
  }
  .bar-button-default-md {
    color: white;
  }
  .masters {
    background-color: rgb(224, 221, 221) !important;
  }

      ion-card {
        position: relative;
        text-align: center;
        height: 160px !important;
      }
      .card-image {
        min-height: 160px;
        background-size: cover;
        background-position: center;
        border-radius: 6px;
        -webkit-filter: brightness(70%);  /* Safari */
        filter:  brightness(70%);
        box-shadow: 0 4px 26px rgba(0, 0, 0, 0.3);
        overflow: hidden;
      }

      .card-md {
        border-radius: 6px;
      }

      .card-ios {
        border-radius: 6px;
      }

      .card-icon {
        position: absolute;
        background-color: #40739e;
        -webkit-filter: opacity(70%);  /* Safari */
        filter:  opacity(70%);
        left: 42%;
        top: 13%;
        font-size: 1.6em;
        width: 50px;
        height: 50px;
        font-weight: bold;
        color: #fff;
        text-shadow: 1px 1px black;
        border-radius: 40px;
      }

      .vertical {
          margin-top: 11px;
          -webkit-filter: opacity(100%) !important;  /* Safari */
          filter:  opacity(100%) !important;
      }
    
      .card-title {
        position: absolute;
        top: 49%;
        font-size: 5.9vw;
        width: 100%;
        font-weight: bold;
        color: #fff;
        letter-spacing: -0.5px;
        text-shadow: 2px 2px black;
      }
    
      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 70%;
        width: 100%;
        color: #fff;
        text-shadow: 1px 1px black;
      }

      .badges {
        background-color: #40739e;
      }

}