
<ion-header>
    <ion-navbar>
      <ion-title color="light">O que deseja encontrar?</ion-title>
    </ion-navbar>
  </ion-header>  
<ion-content class="masters">
    <ion-grid>
        <ion-row>
            <ion-col col-12 *ngFor="let cat of categories" (click)="getStoresCategory(cat.catid, cat.category)">
                <ion-card class="card">
                    <div class="card-image" [style.background-image]="'url(' + cat.logo + ')'"></div>
                    <div class="card-icon"><ion-icon class="vertical" name="{{ cat.icon }}"></ion-icon></div>
                    <div class="card-title">{{ cat.category }}</div>
                    <div class="card-subtitle"><ion-badge class="badges" >{{ cat.numstores }}</ion-badge></div>
                </ion-card> 
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>