<ion-header>
        <ion-navbar>
          <ion-title color="light">{{ prdSrv }}</ion-title>
          <ion-buttons end>
                <button ion-button icon-only color="royal" (click)="dismiss()">
                      <ion-icon name="close"></ion-icon>
                </button>
              </ion-buttons>
        </ion-navbar>
        

      </ion-header>

      <ion-content padding class="masters">
        <ion-slides>
            <ion-slide>
                <h1><img src="{{ currentImg }}"/></h1>
            </ion-slide>
            <ion-slide *ngFor="let img of arrImg">
                <h1><img src="{{ img.photo }}"/></h1>
            </ion-slide>
            </ion-slides>
            <div class="info">
                <ion-icon class="iconL animated pulse infinite" color="light" name="arrow-dropleft-circle"></ion-icon>
                <div class="msg">Deslize para ver mais fotos!</div>
                <ion-icon class="iconR animated pulse infinite" color="light" name="arrow-dropright-circle"></ion-icon>
            </div>
     </ion-content>