page-foto {
    .toolbar-background {
        background-color: #40739e;
    }
    .bar-button-default-ios {
      color: white;
    }
    .bar-button-default-md {
      color: white;
    }
    .masters {
        background-color: black;
    }
    .info {
      position: absolute;
      bottom: 70px;
      width: 100%;
      left: 0px;
      text-align: center;
      z-index: 1000;
    }
    .msg {
      position: absolute;
      bottom: 40px;
      top: 5px;
      width: 100%;
      color: white;
      font-size: 4vw;
    }
    .iconL {
      font-size: 8vw;
      position: absolute;
      bottom: 40px;
      top: 0px;
      left: 30px;
    }
    .iconR {
      font-size: 8vw;
      position: absolute;
      bottom: 40px;
      top: 0px;
      right: 30px;
    }
}