<ion-header>
    <ion-navbar>
      <ion-title color="light">{{ strName }}</ion-title>
      <ion-buttons end *ngFor="let sha of offers">
            <button ion-button icon-only color="light" (click)="share(sha.store, sha.prodserv, sha.rounddiscount, sha.logo)">
                <ion-icon name="share"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
  </ion-header>

  <ion-content class="masters" *ngFor="let ofe of offers">

    <div class="clear-header"></div>

        <ion-grid>
                <ion-row>
                  <ion-col col-12>
                      <span class="description-col"><strong>{{ ofe.numviews }} visualizações</strong></span>
                      <div *ngIf="ofe.modality == 2 || ofe.modality == 3" class="discountprod">{{ ofe.rounddiscount }}% OFF</div>
                      <div *ngIf="ofe.modality == 1 || ofe.modality == 3" class="discountprodred">OFERTA</div>
                  </ion-col>
                  <ion-col col-12>
                      <div class="title-col"><strong>{{ ofe.prodserv }}</strong></div>
                      <div *ngIf="ofe.modality == 2" class="divpricesP">
                          <div class="priceprod old">{{ ofe.oldprice | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</div>
                          <div class="priceprod new">{{ ofe.newprice | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</div>
                          <div *ngIf="ofe.type == 1 && ofe.onlinesell == 1" class="tax">não incluso o valor do frete!</div>
                          <div *ngIf="numcarac > 0 || ofe.type == 2" class="valids2">{{ ofe.ends }}<br>{{ ofestocks }}</div>
                          <ion-badge *ngIf="ofe.onlinesell != 1" class="valids3" color="danger">{{ ofe.ends }}<br>{{ ofestocks }}</ion-badge>
                      </div>
                      <div *ngIf="ofe.modality != 2" class="divpricesO">
                        <div class="new">{{ ofe.oldprice | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</div>
                        <div *ngIf="ofe.type == 1 && ofe.onlinesell == 1" class="tax">não incluso o valor do frete!</div>
                        <div *ngIf="numcarac > 0 || ofe.type == 2" class="valids2">{{ ofe.ends }}<br>{{ ofestocks }}</div>
                        <ion-badge *ngIf="ofe.onlinesell != 1" class="valids3" color="danger">{{ ofe.ends }}<br>{{ ofestocks }}</ion-badge>
                    </div>
                  </ion-col>
                    <ion-col col-12 *ngIf="numcarac <= 1 && ofe.onlinesell == 1">
                        <button ion-button class="endbutton animated" icon-start color="offers" (click)="globals.addOneItem(ofe.store, ofe.prodserv, ofe.sellprice, ofeID)">
                            <ion-icon name="cart"></ion-icon>
                            ADICIONAR
                        </button>
                  </ion-col>
                  <ion-col col-12 *ngIf="ofe.type == 1 && ofe.onlinesell == 1">
                    <div radio-group *ngFor="let carac of ofe.caracteristics; let i = index">
                        <div class="title-caracteristic" *ngIf="carac.size != '' && carac.stock > 0 && i == 0">Selecione o tamanho desejado</div>
                        <div class="title-caracteristic" *ngIf="carac.color != '' && carac.stock > 0 && i == 0">Selecione a cor desejada</div>
                        <div class="title-caracteristic" *ngIf="carac.voltage != '' && carac.stock > 0 && i == 0">Selecione a Voltagem</div>
                        <div class="div-carac">
                            <div class="description-carac" *ngIf="carac.size != ''">{{ carac.size }}</div>
                            <div class="description-carac block-color" [style.background-color]="carac.color" *ngIf="carac.color != ''"></div>
                            <div class="description-carac" *ngIf="carac.voltage != ''">{{ carac.voltage }}V</div>
                            <div class="ctrl-buttons">
                                <button class="ctl-buttons del" (click)="delQtd(ofe.store, ofe.prodserv, carac.size+carac.color+carac.voltage, carac.ctsid, ofe.sellprice)"ion-button item-end small outline>-1</button>
                                <button class="ctl-buttons num" disabled="disabled" ion-button item-end small outline>{{ currQtd[carac.ctsid] || 0 }}</button>
                                <button class="ctl-buttons add" (click)="addQtd(ofe.store, ofe.prodserv, carac.size+carac.color+carac.voltage, carac.ctsid, ofe.sellprice, carac.stock)" ion-button item-end small outline>+1</button>
                            </div>
                        </div>
                    </div>
                 </ion-col>
                 <button *ngIf="numcarac > 0 && ofe.onlinesell == 1" icon-start ion-button class="endbutton2 animated" color="offers" (click)="globals.addInCart(bt_adic_upd)">
                    <ion-icon name="cart"></ion-icon>
                    {{ bt_adic_upd }}
                </button> 
                <ion-col col-12>
                    <div class="title-caracteristic">Descrição</div>
                    <div class="description-cat descr">{{ ofe.description }}</div>
                </ion-col>
                <ion-col col-12>
                    <div class="title-caracteristic">Clique na imagem para ampliar</div>
                </ion-col>
                <ion-col col-4 col-md-4 col-xl-3 *ngFor="let image of ofe.photos; let i = index">
                    <div class="image-photos-cover" *ngIf="i == 2" (click)="showPhotos(ofe.prodserv, ofe.photos, image.photo);"><div class="num-photos-cover">+ {{ (ofe.photos.length - 2) }}</div></div>
                    <div class="image-photos" *ngIf="i < 3" (click)="showPhotos(ofe.prodserv, ofe.photos, image.photo);" [style.background-image]="'url(' + image.photo + ')'"></div>
                </ion-col>

                </ion-row>  
            </ion-grid>
            
            <ion-grid *ngFor="let dat of items; let i = index">
                <ion-row *ngIf="i == 0">
                    <ion-col col-12>
                        <span class="title-col-prods">Mais ítens de {{ ofe.store }}</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 *ngIf="loadingitems == true">
                      <img src="assets/imgs/tag.gif" height="35px;">
                      <span class="title-loading"> Buscando Ítens...</span>
                  </ion-col>
                  <ion-col col-12>
                    <span class="description-col-sla"><strong>Se Liga!</strong></span>
                    <div *ngIf="dat.modality == 2 || dat.modality == 3" class="discountprod">{{ dat.rounddiscount }}% OFF</div>
                    <div *ngIf="dat.modality == 1 || dat.modality == 3" class="discountprodred">OFERTA</div>
                </ion-col>
                <ion-col col-12>
                    <div class="description-cat">{{ dat.category }}</div>
                    <div class="title-col"><strong>{{ dat.name }}</strong></div>
                    <div *ngIf="dat.modality == 2" class="divpricesP">
                        <div class="priceprod old">{{ dat.oldprice | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</div>
                        <div class="priceprod new">{{ dat.newprice | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</div>
                    </div>
                    <div *ngIf="dat.modality != 2" class="divpricesO">
                      <div class="new">{{ dat.oldprice | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</div>
                  </div>
                </ion-col>
                <ion-col col-12>
                    <div class="description-col">
                      &nbsp;
                    </div>
                </ion-col>
                <ion-col col-12>
                    <ion-badge *ngIf="dat.starts <= 0" class="valids4" color="danger">{{ dat.ends }}</ion-badge>
                </ion-col>
                <ion-col col-12>
                    <button ion-button small class="endbutton3" color="offers" (click)="getProductDetails(dat.ofeid, dat.store, dat.starts)">
                        + DETALHES
                    </button>
                </ion-col>
                </ion-row>  
            </ion-grid>        

</ion-content>