page-verproduto {
    
  .toolbar-background {
    background-color: #40739e;
}
.bar-button-default-ios {
  color: white;
}
.bar-button-default-md {
  color: white;
}
.masters {
    background-color: #dad8d8 !important;
    color: white;
}

.clear-header {
    margin-top: 60px;
}

.discountprod {
  color: green;
  font-size: 3vw;
  font-weight: bold;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 4px 4px 4px 4px;
  border: 1px green solid;
  border-radius: 5px;
}

.discountprodred {
  color: red;
  font-size: 3vw;
  font-weight: bold;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 4px 4px 4px 4px;
  border: 1px red solid;
  border-radius: 5px;
}

.divpricesO {
  position: absolute;
  right: 5px;
  top: 10px;
  min-width: 40%;
  text-align: right;
}
.divpricesP {
  position: absolute;
  right: 5px;
  top: 10px;
}

.priceprod {
  float: left;
}

.old {
  color: gray;
  font-size: 3vw;
  font-weight: bold;
  margin-right: 6px;
  margin-top: 6px;
  text-decoration: line-through;
}

.new {
  color: black;
  font-size: 4.5vw;
  font-weight: bold;
  
}

.tax {
  color: gray;
  font-size: 2.5vw;
  position: absolute;
  top: 18px;
  right: 0px;
}

.noitems {
  position: absolute;
  top: 43%;
  width: 100%;
  color: white;
  font-weight: bold;
  text-align: center;
}

.icons {
  font-size: 25px; //Preferred size here
}

.endicon {
    position: absolute;
    right: 5px;
    top: 15px;
}
.endbutton {
  font-size: 8vw;
  max-height: 40px;
  position: fixed;
  right: 11px;
  top: 155px;
  z-index: 1000;
  border-radius: 4px;
  animation: pulse, pulse, pulse;
  animation-delay: 10s, 30s, 59s;
  animation-duration: 0.5s;
}
.endbutton2 {
  font-size: 8vw;
  max-height: 40px;
  position: fixed;
  right: 11px;
  top: 168px;
  z-index: 1000;
  border-radius: 4px;
  animation: pulse, pulse, pulse;
  animation-delay: 10s, 30s, 59s;
  animation-duration: 0.5s;
}
.endbutton3 {
  font-size: 8vw;
  max-height: 40px;
  position: absolute;
  right: 8px;
  top: -38px;
  z-index: 1000;
  border-radius: 4px;
  animation: pulse, pulse, pulse;
  animation-delay: 10s, 30s, 59s;
  animation-duration: 0.5s;
}
.favs {
    position: absolute;
    right: 5px;
}
.black-col {
  background-color: #dad8d8;
  border-top: 2px gray;
  width: 110%;
  left: 0px !important;
}
.card {
  min-height: 80px;
  border: 1px rgb(168, 167, 168) solid;
  border-radius: 3px;
}
img {
  opacity: 1;
  transition: opacity 0.3s;
}

img[data-src] {
  opacity: 0;
}
  .showMenu {
    display: block !important;
  }

  .image-container {
    z-index: 9999;
    min-height: 80px;
    background-size: cover;
    background-position: center;
  }

  .image-container-banner {
    z-index: 9999;
    min-height: 120px;
    background-size: cover;
    background-position: center;
  }
  .banner-content {
    max-height: 20px;
    border-top: 1px solid rgb(209, 208, 208);
    background-color: rgb(236, 234, 234);
  }

  .card-content-ios {
    padding: 13px 16px 16px !important;
  }
  .card-content-md {
    padding: 13px 16px 18px !important;
  }

  .image-container-noimage {
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 100px;
    background-size: cover;
    background-position: center;
    -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
      filter: grayscale(50%);
  }

  .thumb {
    margin-top: 0px;
    margin-left: -8px;
    border-radius: 3px;
    max-width: 50px;
    max-height: 50px;
  }

  .titlecard {
    position: relative;
    top: 5px;
    left: 1px;
    color: black;
    max-width: 150% !important;
    line-height: 13px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: -0.2px;
    text-transform: capitalize !important;
  }
  .deal {
    color: #9c2020;
    position: relative;
    padding-bottom: 14px;
    line-height: 12px;
    top: 8px;
    left: 1px;
    font-size: 11px;
  }

  .subtitlecard {
   
    font-weight: bold;
    font-size: 10px;
    letter-spacing: -0.5px;
  }

  .scroll-zoom-wrapper {
    white-space: nowrap;
}

.card-banner {
    width: 100% !important;
    display: inline-block;
    min-height: 120px !important;
    margin-right: 10px !important;
    overflow: hidden;
    
}

.card-banner-slapay {
  width: 100% !important;
  min-height: 120px !important;
}


ion-scroll {
  top: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  background-color: transparent !important;
    min-height: 160px; 
    height: auto;
    border-radius: 3px;
        .scroll-content {
          background-color: transparent !important;
          overflow: hidden;
        border-radius: 3px;
    }    
}


ion-grid {
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
  border-bottom: 2px rgb(206, 204, 204) solid;
}

.title-col {
  color: black;
  font-size: 5vw;
  width: 55%;
  word-wrap: break-word;
}
.title-col-prods {
  color: black;
  font-size: 3.5vw;
  width: 55%;
  word-wrap: break-word;
}
.title-caracteristic {
  color: black;
  font-size: 3vw;
  width: 55%;
  word-wrap: break-word;
  margin-top: 5px;
  margin-bottom: 5px;
}
.subtitle-col {
    font-size: 12px;
    color: black;
  }
  .description-col {
    font-size: 3vw;
    color: gray;
  }
  .description-col-sla {
    font-size: 4vw;
    color: #40739e;
  }
  .description-cat {
    font-size: 3vw;
    color: gray;
    width: 100%;
    word-wrap: break-word;
  }
  .block-color {
    min-height: 25px;
    min-width: 25px !important;
    border-radius: 6px;
    border-top: #9fbcd3 1px solid;
    border-left: #9fbcd3 1px solid;
    border-right: #9fbcd3 1px solid;
    border-bottom: #9fbcd3 1px solid;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
  }
  .div-carac {
    position: relative;
    top: 10px;
    margin-bottom: 10px;
  }
  .description-carac {
    font-size: 5vw;
    color: black;
    word-wrap: break-word;
    float: left;
    min-width: 40px;
  }
  .ctrl-buttons {
    position: relative;
    left: 10px;
    top: -1px;
  }
  .ctl-buttons {
    max-height: 25px;
    max-width: 20px;
  }
  .del {
    border-color: white;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    color: white;
    background-color: #b44040;
  }

  .button-ios {
    margin: -3px !important;
  }
  .button-md {
    margin: -3px !important;
  }
  .num {
    border-color: white;
    border-radius: 0px;
    background-color: rgb(233, 230, 230);
    color: black;
    min-width: 50px;
  }
  .add {
    border-color: white;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    color: white;
    background-color: #b44040;
  }
  .offer-col {
    padding-top: 5px;
    font-size: 12px;
    color: brown;
    padding-bottom: 5px;
  }
  .valids {
    position: absolute;
    top: -5px;
    left: -2px;
    text-align: left;
    background-color: transparent;
    color: rgb(167, 163, 163);
    font-size: 2.7vw;
  }
  .valids2 {
    position: fixed;
    top: 137px;
    right: 10px;
    line-height: 9px;
    text-align: right;
    font-weight: bold;
    background-color: transparent;
    color: rgb(167, 163, 163);
    font-size: 2.7vw;
  }
  .valids3 {
    position: fixed;
    top: 137px;
    right: 10px;
    line-height: 9px;
    text-align: right;
    font-weight: bold;
    background-color: red;
    color: white;
    font-size: 2.7vw;
  }
  .valids4 {
    font-size: 2.7vw;
  }
  .shine {
    position: absolute;
    top: 0;
    left: -70px;
    height: 98px;
    width: 50px;
    background: rgba(255, 255, 255, 0.4);
    transition: all .3s linear;
    transform: skewX(20deg) translateX(0);
  }
  
.title-loading {
  position: relative;
  top: -10px;
  color: rgb(95, 94, 94);
  font-size: 12px;
}
.link-col {
  min-width: 100%;
  text-align: right;
}
.link-banner {
  position: relative;
  top: -10px;
  right: -7px;
  text-align: right;
}
.text-banner {
  color: black;
  font-size: 3.2vw;
  position: relative;
  top: -5px;
  left: -7px;
  float: left;

}
.link {
  color: #40739e;
  font-size: 3.2vw;
  text-align: right;
  font-weight: bold;
  text-decoration: underline;
}
.link-gray {
    color: gray;
    font-size: 2.9vw;
    font-weight: bold;
    text-decoration: underline;
  }
.red {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(30vh - 44px);
  background: red;
}
.green {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(30vh - 44px);
  background: green;
}
.card-slide {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(30vh - 44px);
  background: blue;
  border-radius: 5px;
  width: 98%;
}

.swiper-container {
overflow: initial !important;
}
.slide {
  margin-right: 4px;
  overflow-x: scroll; /* has to be scroll, not auto */
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-scroll-snap-type: mandatory;
  /* scroll-snap-destination is not required in this case but could be necessary in some situations */
  -webkit-scroll-snap-destination: 110% 10%;
  -webkit-scroll-snap-points-y: repeat(calc(30vh - 44px));
}

.col-slide {
margin-left: 0px;
margin-right: 0px;
width: 100%;
}


.offerseal {
position: absolute;
background-image: url('../../assets/imgs/discount.png');
top: -5px;
right: -12px;
width: 45px;
min-height: 45px;
background-size: 45px 37px;
background-repeat: no-repeat;
}
.deals {
color: white;
position: absolute;
line-height: 9px;
text-align: right;
font-size: 8px;
top: 6px;
left: 12px;
font-weight: bold;
letter-spacing: 0.7px;

}

 

  .shop {
    color: white;
    position: absolute;
    line-height: 12px;
    top: 13px;
    left: 10px;
    font-size: 20px;
    
  }

  .distance {
    position: absolute;
    bottom: 4px;
    left: 4px;
    font-size: 9px;
    border-radius: 3px !important;
    background-color: #0c68a4;
  }

  .tag {
    background-color: #0c68a4;
    color: white;
    font-size: 9px;
    line-height: 13px;
    border-radius: 0px 0px 10px 0px; 
    padding-right: 7px;
    padding-left: 7px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 5px;
    max-width: 80px;
  }

  .fixed-outside{
    position: absolute;
    bottom: 0;
    color:white;
    width: 100%;
    height:  120px;
    text-align:center;
  }

      .image-photos {
        min-height: 60px;
        width: 100%;
        background-size: cover;
        background-position: center;
        
            border-radius: 6px;
            border-top: #9fbcd3 1px solid;
            border-left: #9fbcd3 1px solid;
            border-right: #9fbcd3 1px solid;
            border-bottom: #9fbcd3 1px solid;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
      }

      .image-photos-cover {
        min-height: 60px;
        width: 100%;
        top: 0px;
        float: left;
        position: relative;
        background-color: rgba(0, 0, 0, 0.7);
            border-radius: 6px;
            border-top: #9fbcd3 1px solid;
            border-left: #9fbcd3 1px solid;
            border-right: #9fbcd3 1px solid;
            border-bottom: #9fbcd3 1px solid;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
      }

      .num-photos-cover {
        width: 100%;
        top: 16px;
        position: relative;
        color: white;
        font-weight: bold;
        font-size: 5vw;
        text-align: center;
      }

      .storename {
        position: absolute;
        left: 12px;
        top: 160px;
        color: white;
        text-align: center;
        line-height: 14px;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: -0.5px;
        text-shadow: 2px 2px black;
      }

      .discount {
        position: absolute;
        right: 0px;
        top: 90px;
        color: #9fbcd3;
        font-size: 40px;
        letter-spacing: -1.2px;
      }
      .off {
        position: absolute;
        right: 0px;
        top: 125px;
        color: #9fbcd3;
        letter-spacing: -0.4px;
        font-size: 40px; 
      }

      .badgeoffer {
        position: fixed;
        left: 65px;
        top: 378px;
        color: white;
        text-align: center;
        line-height: 10px;
        font-weight: bold;
        font-size: 10px;
        border-radius: 18px;
    }

      .distance {
        position: absolute;
        top: 182px;
        left: 12px;
        font-size: 9px;
        background-color: #0c68a4;
      }

      [col-4] {
          height: 75px;
      }

      .icon-buttons {
        font-size: 30px;
        text-align: center;
      }

      .icon-buttons span {
          font-size: 10px;
      }

      .address {
        position: absolute;
        top: 230px; 
        width: 90%;
      }

    .nameprod {
        font-size: 18px;
        font-weight: bold;
    }
    .description {
        font-size: 15px;
        font-weight: normal;
    }
    .oldpriceprod {
        color: rgb(148, 150, 148);
        font-size: 17px;
        text-decoration: line-through;
    }
    .newpriceprod {
        color: green;
        font-weight: bold;
        font-size: 28px;
        letter-spacing: -0.7px;
    }

    .photos {
        position: absolute;
        top: 340px;
    }
    .loc_btn_favourite {
        position: absolute;
        top: 180px;
        right: 10px;
    }

    .btn_favourite {
        font-size: 11px;
        font-weight: bold;
        min-height: 20px;
        top: -3px;
        text-align: center;
    }
}