<ion-header>
    <ion-navbar>
      <ion-title color="light">
        Meu Endereço
      </ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content padding class="masters2">
    <p class="pp"><ion-icon class="icons" name="home"></ion-icon><br>Informe o seu endereço corretamente:</p>

     <form [formGroup]="form" (submit)="addAddress()">
         <ion-list radio-group no-lines>

            <ion-item class="masters">
                <ion-label *ngIf="form.controls.address.valid || (!form.controls.address.dirty && !submitAttempt)" color="light" stacked>Pesquise pelo Endereço ou CEP:</ion-label>
                <ion-label *ngIf="!form.controls.address.valid  && (form.controls.address.dirty || submitAttempt)" color="light" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Informe o endereço corretamente!</strong></ion-label>
                <ion-input value="{{ usr_address }}" (ionFocus)="clear()" maxlength="50" type="text" [(ngModel)]="autocomplete.query" (ionCancel)="dismiss()" (ionChange)="updateSearch()" formControlName="address" placeholder="Ex: Rua Adriana de Oliveira Silva"></ion-input>
            </ion-item>
            <div *ngIf="showitem == true">
                <ion-item>
                    <h3><strong>Selecione o endereço correto:</strong></h3>
                </ion-item>
                <ion-item *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)">
                    <strong>{{ item.structured_formatting.main_text }}</strong><br>
                    <small>{{ item.structured_formatting.secondary_text }}</small>
                </ion-item>
            </div>
            <div class="row">
                <div class="col">
                    <ion-item class="masters">
                        <ion-label color="light" *ngIf="form.controls.number.valid || (!form.control.number.dirty && !submitAttempt)" stacked>Número:</ion-label>
                        <ion-label *ngIf="!form.controls.number.valid  && (form.controls.number.dirty || submitAttempt)" color="light" stacked><strong class="error"><ion-icon name="alert"></ion-icon> N&ordm; incorreto!</strong></ion-label>
                        <ion-input value="{{ usr_number }}" #mynumber maxlength="10" type="text" [(ngModel)]="autocomplete.number" (ionBlur)="getZipCode()" formControlName="number" placeholder="10, 100, 1000"></ion-input>
                    </ion-item>
                </div>
                <div class="col">
                    <ion-item class="masters">
                        <ion-label color="light" stacked>Complemento:</ion-label>
                        <ion-input #complement value="{{ usr_complement }}" maxlength="20" type="text" formControlName="complement" placeholder="Ex: Apto 10, Sl 1"></ion-input>
                    </ion-item>
                </div>
            </div>
            <ion-item class="masters">
                <ion-label *ngIf="form.controls.neighboor.valid || (!form.controls.neighboor.dirty && !submitAttempt)" color="light" stacked>Bairro:</ion-label>
                <ion-label *ngIf="!form.controls.neighboor.valid  && (form.controls.neighboor.dirty || submitAttempt)" color="light" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Informe o bairro corretamente!</strong></ion-label>
                <ion-input value="{{ usr_neighboor }}" maxlength="40" formControlName="neighboor" type="text" placeholder="Vila Mariana"></ion-input>
            </ion-item>
            <ion-item class="masters">
                <ion-label *ngIf="form.controls.zipcode.valid || (!form.controls.zipcode.dirty && !submitAttempt)" color="light" stacked>CEP:</ion-label>
                <ion-label *ngIf="!form.controls.zipcode.valid  && (form.controls.zipcode.dirty || submitAttempt)" color="light" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Informe o CEP corretamente!</strong></ion-label>
                <ion-input value="{{ usr_zipcode }}" maxlength="9" [brmasker]="{mask:'00000-000', len:9}" type="tel" formControlName="zipcode" placeholder="01539-010"></ion-input>
            </ion-item>
            <div class="row">
                <div class="col" col-8>
                    <ion-item class="masters">
                        <ion-label color="light" *ngIf="form.controls.city.valid || (!form.controls.city.dirty && !submitAttempt)" stacked>Cidade:</ion-label>
                        <ion-label *ngIf="!form.controls.city.valid  && (form.controls.city.dirty || submitAttempt)" color="light" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Cidade incorreta!</strong></ion-label>
                        <ion-input value="{{ usr_city }}" maxlength="40" type="text" formControlName="city" placeholder="São Paulo"></ion-input>
                    </ion-item>
                </div>
                <div class="col" col-4>
                    <ion-item class="masters">
                        <ion-label color="light" *ngIf="form.controls.state.valid || (!form.controls.state.dirty && !submitAttempt)" stacked>Estado:</ion-label>
                        <ion-label *ngIf="!form.controls.state.valid  && (form.controls.state.dirty || submitAttempt)" color="light" stacked><strong class="error"><ion-icon name="alert"></ion-icon> UF incorreta!</strong></ion-label>
                        <ion-input value="{{ usr_state }}" maxlength="2" value="" type="text" formControlName="state" placeholder="SP"></ion-input>
                    </ion-item>
                </div>
            </div>
            <ion-item class="masters">
                <ion-label color="light" stacked><ion-icon name="logo-whatsapp"></ion-icon> WhatsApp (opcional):</ion-label>
                <ion-input value="{{ usr_tel1 }}" maxlength="15" type="tel" formControlName="tel1" [brmasker]="{mask:'(00) 00000-0000', len:15}" placeholder="(11) 98765-0000"></ion-input>
            </ion-item>
            <ion-item class="masters">
                <ion-label stacked color="light">Usar este endereço p/ entregas:</ion-label>
                <ion-toggle color="offers" (ionChange)="updateToggleSet(usr_addtype, $event)" [checked]="getToggleSet(usr_addtype)"></ion-toggle>
            </ion-item>
        </ion-list>
        <button ion-button icon-start block color="buttons" type="submit">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            SALVAR ENDEREÇO
        </button>
     </form>
  </ion-content>