.ios, .md {
 
    page-enderecos {

        .toolbar-background {
            background-color: #40739e;
          }
          .bar-button-default-ios {
            color: white;
          }
          .bar-button-default-md {
            color: white;
          }
          .masters {
            background-color: white;
            color: black;
           
          }
 
        .error {
            font-size: 0.8em;
            color: #ea6153;
            font-weight: bold;
            background-color: transparent !important;
        }
 
        .swiper-slide {
            display: block;
        }
 
        .invalid {
            border-bottom: 1px solid #ea6153;
            //border-radius: 3px;
        }

        .nolines {
            border-bottom: transparent !important;
          }

        .item-md.item-block .item-inner,
        .item-md.item-input.input-has-focus .item-inner,
        .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
        .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
        .list-md .item-input.input-has-focus:last-child,
        .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
        .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
            border-bottom: none;
            box-shadow: none;
        }
        .list-md .item-input.input-has-focus:last-child .item-inner,
        .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner,
        .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child .item-inner {
            box-shadow: none; 
        }
        .text-input-ios {
            border-radius: 4px;
            border: 1px solid rgb(197, 196, 196);
            width: 100%;
            height: 40px;
            background-color: rgb(243, 244, 245);
            padding-left: 5px;
        }
        .text-input-md {
            border-radius: 4px;
            border: 1px solid rgb(197, 196, 196);            
            width: 100%;
            height: 40px;
            background-color: rgb(243, 244, 245);
            padding-left: 5px;
        }
        .item-md {
            padding-left: 0px;
        }
        .item-ios {
            padding-left: 0px;
        }
        .pp {
            text-align: center;
            color: black;
            font-size: 4vw;
        }
        .icons {
            font-size: 9vw; //Preferred size here
            color: #40739e;
        }
        .col {
            padding: 0px !important;
        }
    }
 
}