<ion-header>
        <ion-navbar>
          <ion-title color="light">
            {{ strName }}
          </ion-title>
        </ion-navbar>
      </ion-header>
      <ion-content class="masters">

          <ion-refresher class="masters3" (ionRefresh)="doRefresh($event)">
              <ion-refresher-content  class="masters3"
                pullingIcon="arrow-dropdown"
                pullingText="Deslize para atualizar"
                refreshingSpinner="circles"
                refreshingText="Buscando Ofertas...">
                </ion-refresher-content>
            </ion-refresher>

            <div class="clear-header"></div>

            <ion-grid *ngFor="let dat of items">
                <ion-row>
                  <ion-col col-12>
                      <span class="description-col">{{ dat.store }}</span>
                      <div *ngIf="dat.modality == 2 || dat.modality == 3" class="discountprod">{{ dat.rounddiscount }}% OFF</div>
                      <div *ngIf="dat.modality == 1 || dat.modality == 3" class="discountprodred">OFERTA</div>
                  </ion-col>
                  <ion-col col-12>
                      <div class="description-cat">{{ dat.category }}</div>
                      <div class="title-col"><strong>{{ dat.name }}</strong></div>
                      <div *ngIf="dat.modality == 2" class="divpricesP">
                          <div class="priceprod old">{{ dat.oldprice | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</div>
                          <div class="priceprod new">{{ dat.newprice | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</div>
                      </div>
                      <div *ngIf="dat.modality != 2" class="divpricesO">
                        <div class="new">{{ dat.oldprice | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</div>
                    </div>
                  </ion-col>
                  <ion-col col-12>
                      <div class="description-col">
                        &nbsp;
                      </div>
                  </ion-col>
                  <ion-col col-12>
                      <ion-badge *ngIf="dat.starts <= 0" class="valids" color="danger">{{ dat.ends }}</ion-badge>
                  </ion-col>
                  <ion-col col-12>

                          <!-- <button ion-button small class="endbutton" color="offers" (click)="showOffers(str.addid, str.store)">
                              ADICIONAR
                          </button> -->
                          <button ion-button small class="endbutton" color="offers" (click)="getProductDetails(dat.ofeid, dat.store, dat.starts)">
                            + DETALHES
                        </button>
                      
                  </ion-col>
                </ion-row>  
            </ion-grid>


         

          </ion-content>