<ion-header>
        <ion-navbar>
          <ion-title color="light">Meus Alertas</ion-title>
        </ion-navbar>
</ion-header> 

<ion-content padding class="masters2">
  
    <p class="pp"><ion-icon class="icons" name="alert"></ion-icon><br>Selecione as categorias desejadas, às quais você deseja ser notificado quando ocorrerem descontos:</p>

    <ion-list *ngFor="let cat of categories">
        <ion-item class="masters">
            <ion-label class="iconlabel"><ion-icon name='{{ cat.icon }}'></ion-icon></ion-label>
            <ion-label class="alerta">{{ cat.category }}</ion-label>
           <ion-toggle color="offers" (ionChange)="updateToggleSet(cat.icon, $event)" [checked]="getToggleSet(cat.icon)"></ion-toggle>
        </ion-item>
    </ion-list>
 
</ion-content>                