page-alertas {

    .toolbar-background {
        background-color: #40739e;
      }
      .bar-button-default-ios {
        color: white;
      }
      .bar-button-default-md {
        color: white;
      }
      .masters {
        background-color: transparent;
        color: black;
       
      }

   
      
    .iconlabel {
        font-size: 8vw;
        color: #40739e;
    }
    
    .masters2 {
        background-color: white;
        color: black;
    }  
    .pp {
        text-align: center;
        color: black;
        font-size: 4vw;
    }
    .icons {
        font-size: 9vw; //Preferred size here
        color: #40739e;
    }
    .alerta {
        font-size: 3.6vw;
        color: black;
        font-weight: bold;
        margin-left: -60px;
        width: 100%;
        position: absolute;
        padding-left: 50px;
    }
    .label-md {
        margin: 0px;
        
    }
    .label-ios {
        margin: 0px;
        
    }
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: none;
    }
    .list-ios > .item-block:first-child {
        border-top: none;
    }
    .list-ios {
        margin: -1px 0 16px;
    }
}