<ion-header>
    <ion-navbar>
      <ion-title color="light">
        Meus Pedidos
      </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content class="masters">

      <div class="clear-header"></div>

      <ion-grid *ngFor="let dat of orders">
        <ion-row>
          <ion-col col-12>
             <!--  <span class="description-col">{{ dat.store }}</span> -->
             <div *ngIf="dat.delivery_status == 0 && dat.paid == 0" class="discountprodred">AGUARDANDO PAGAMENTO</div>
             <div *ngIf="dat.delivery_status == 0 && dat.paid == 1" class="discountprodyellow">PREPARANDO PEDIDO</div>
             <div *ngIf="dat.delivery_status == 1 && dat.paid == 1" class="discountprodorange">SAIU PARA ENTREGA/SERVIÇO</div>
             <div *ngIf="dat.delivery_status == 2 && dat.paid == 1" class="discountprod">ENTREGUE/FINALIZADO</div>
          </ion-col>
          <ion-col col-12>
              <ion-icon id="arrow-{{dat.ordid}}" class="arrow animated pulse infinite" (click)="showHideOrder(dat.ordid, orders)" [color]="currColor[dat.ordid]" [name]="currIcon[dat.ordid]"></ion-icon>
              <div class="title-col"><strong>#{{ dat.ord_alias }}</strong></div>
              <div class="subtitle-col"><strong>{{ dat.num_items }}</strong></div>
              <div class="subtitle-price"><strong>{{ dat.payment_method }}</strong></div>
              <div class="divpricesP">
                  <div class="priceprod new">{{ dat.total | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</div>
                  <div class="ship">Frete: {{ dat.shipping | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</div>
              </div>
            </ion-col>
            <ion-col col-12>
                <ion-badge class="valids" color="offers">Data do pedido: {{ dat.created_at }}</ion-badge>
            </ion-col>
         
              <ion-col id="items-{{dat.ordid}}" col-12 *ngIf="showOrderDetails[dat.ordid]" class="col-items animated fadeIn">
                <div class="clear-content-items"><div class="line-item"></div></div>
                <div class="content-items" *ngFor="let items of dat.items; let i = index">
                    <div class="line-item"><ion-icon class="arrow-item" name="arrow-dropright-circle"></ion-icon></div>
                    <div class="title-item"><strong>{{ items.qtd }}x {{ items.prodserv }} {{ items.size }}{{ items.color }}{{ items.voltage }}</strong></div>
                    <div class="subtitle-item"><strong>{{ items.description }}</strong></div>
                    <div class="subtitle-item2"><strong>{{ items.store }}</strong></div>
                    <div *ngIf="dat.logid > 0 && items.type == 1" class="subtitle-item3"><strong>Entregue por {{ dat.name }}</strong></div>
                    <div *ngIf="items.discount > 0" class="price-item-old"><strong>{{ (items.qtd * items.vlunit) | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</strong></div>
                    <div *ngIf="items.discount > 0" class="price-item"><strong>{{ (items.qtd * items.vlunit) - items.discount | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</strong></div>
                    <div *ngIf="items.discount == 0" class="price-item"><strong>{{ (items.qtd * items.vlunit) | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</strong></div>
                </div>
                 
                
              </ion-col>

          </ion-row>  
        </ion-grid>  
        <div *ngIf="noitems == true" class="noitems"><ion-icon class="icons" name="notifications-off"></ion-icon><br>Você não tem pedidos realizados!<br>Aproveite as ofertas e promoções do dia!</div>  

      </ion-content>