
<ion-header>
        <ion-navbar>
          <ion-title color="light">Minha Carteira Virtual</ion-title>
        </ion-navbar>
      </ion-header>  
    <ion-content class="masters">
       
            <div class="clear-header"></div>

            <ion-grid>
                <ion-row>
                    <ion-col>
                            <div class="seligapay1"><img class="img_seligapay1" src="assets/imgs/seligapay.png"></div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-12 class="first-col">
                        <span class="description-col">Utilize o Se Liga pay! Sua Carteira Virtual para realizar compras no Se Liga Aí de forma prática, rápida e segura!</span>
                        <span class="description-col2"><br><br>Com o Se Liga pay!, ficou mais fácil adquirir ofertas e promoções no Se Liga Aí. Basta adicionar créditos em sua carteira virtual e pronto! Toda a transação é realizada através de um ambiente seguro e criptografado.</span>
                        <span class="description-col2"><br><br>Para maiores informações sobre o uso da carteira, taxas e disponibilidade, consulte nossos <a target="_blank" href="https://em2d.com.br/privacy-policy.html">Termos de Uso</a>.</span><br><br>
                    </ion-col>
                    <ion-col col-12>
                        <div class="title-col"><strong>SALDO NA CARTEIRA:</strong></div>
                        <div *ngIf="view_fund == true" (click)="showHideFund();" class="priceprod new">{{ fund | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</div>
                        <div *ngIf="view_fund == false" (click)="showHideFund();" class="priceprod new"><ion-icon class="showhide" name="eye"></ion-icon> Ver Saldo</div>
                    </ion-col>
                    <ion-col col-12>
                        <button ion-button small class="endbutton animated pulse infinite" color="offers" (click)="addFund()">
                            DEPOSITAR
                        </button>
                    </ion-col>
                </ion-row>  
            </ion-grid>

            <ion-grid *ngIf="view_fund == true">
                    <ion-row>
                        <ion-col col-12 class="second-col">
                            <span class="description-col">Extrato (últimos 30 dias)</span>
                        </ion-col>
                        <ion-col class="line-extract" col-12 *ngFor="let ext of wallet">
                            <div class="title-extract"><strong>{{ ext.description }}</strong></div>
                            <div class="date-extract"><strong>{{ ext.date }}</strong></div>
                            <div *ngIf="ext.extract > 0" class="priceprode plus">{{ ext.extract | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</div>
                            <div *ngIf="ext.extract < 0" class="priceprode minus">{{ ext.extract | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</div>                        
                        </ion-col>
                        <ion-col col-12>
                            <span class="description-col">SALDO ATUAL: {{ fund | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</span>
                        </ion-col>    
                    </ion-row>  
                </ion-grid>

    </ion-content>