page-carteira {
    .toolbar-background {
      background-color: #40739e;
    }
    .bar-button-default-ios {
      color: white;
    }
    .bar-button-default-md {
      color: white;
    }
    .masters {
      background-color: rgb(224, 221, 221) !important;
      color: black;
    }

    .seligapay1 {
      position: relative;
      top: 10px;
      width: 90%;
      height: 60px;
      text-align: center;
  }
  .img_seligapay1 {
    width: 45%;
  }
  
    .clear-header {
      margin-top: 10px;
  }
  
  .divprices {
    position: absolute;
    right: 5px;
    top: 10px;
  }
  
  .line-extract {
    height: 50px;
  }
  .priceprod {
    float: left;
  }
  .priceprode {
    position: absolute;
    right: 10px;
    top: -10px;
  }
  
  .new {
    color: #40739e;
    font-size: 6.0vw;
    font-weight: bold;
  }
  .plus {
    color: #40739e;
    font-size: 4.5vw;
    font-weight: bold;
  }
  .minus {
    color: #9c2020;
    font-size: 4.5vw;
    font-weight: bold;
  }
  
  
  .endbutton {
    font-size: 5vw;
    position: absolute;
    transition: background .3s linear; 
    right: 5px;
    top: -45px;
    animation-delay: 1;
    animation-duration: 1.5s;
    &:hover .shine {
      transform: skewX(20deg) translateX(300px);
    }
  }
  
  ion-grid {
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    border-bottom: 2px rgb(206, 204, 204) solid;
  }
  
  .title-col {
    color: black;
    font-size: 2.8vw;
    width: 55%;
    word-wrap: break-word;
  }
  .showhide {
    position: relative;
    top: 3px;
  }
  .title-extract {
    position: absolute;
    top: -10px;
    color: black;
    font-size: 3.2vw;
    width: 55%;
    word-wrap: break-word;
  }
  .date-extract {
    position: absolute;
    top: 10px;
    color: gray;
    font-size: 2.9vw;
    width: 55%;
    word-wrap: break-word;
  }
  .subtitle-col {
      font-size: 12px;
      color: black;
    }
    .first-col {
        min-height: 205px;
    }
    .second-col {
        min-height: 55px;
    }
    .description-col {
      font-weight: bold;
      font-size: 4vw;
      color: black;
    }
    .description-col2 {
        font-weight: bold;
        font-size: 3.5vw;
        line-height: 5px;
        color: rgb(63, 62, 62);
      }
    .description-cat {
      font-size: 3.3vw;
      color: gray;
    }
    
  
    .icons {
      font-size: 40px; //Preferred size here
      color: #40739e;
    }
    
    .noitems {
      position: absolute;
      top: 40%;
      width: 100%;
      color: black;
      font-weight: bold;
      text-align: center;
    }
  
  }