page-contrato {
    .toolbar-background {
        background-color: #40739e;
    }
    .bar-button-default-ios {
      color: white;
    }
    .bar-button-default-md {
      color: white;
    }
    .masters {
        background-color: white;
        color: black;
    }
}