<ion-header>
        <ion-navbar>
          <ion-title color="light">Uso do SeLiga Pay!</ion-title>
          <ion-buttons end>
                <button ion-button icon-only color="light" (click)="dismiss()">
                      <ion-icon name="close"></ion-icon>
                </button>
              </ion-buttons>
        </ion-navbar>
      </ion-header>

      <ion-content padding class="masters">
        
        <p [innerHTML]="updated_at"></p>     
        <p [innerHTML]="content"></p>
        <button ion-button small block class=" animated pulse infinite" color="offers" (click)="btOk()">
            LI E CONCORDO COM OS TERMOS
        </button>
            
     </ion-content>