page-home {

    .toolbar-background {
        background-color: #40739e;
    }

    .list-ios .item-block .item-inner {
      border-bottom: none !important;
    }
    .item-ios.item-block .item-inner {
      border-bottom: none !important;
    }
    .list-md .item-block .item-inner {
      border-bottom: none !important;
    }
    .item-md.item-block .item-inner {
      border-bottom: none !important;
    }

    .masters {
        background-color: gray !important;
        color: white;
    }

    .item-md {
      background-color: #356083;
      color: white;
    }
    .item-md.activated {
      background-color: #356083;
    }
    .item-ios {
      background-color: #356083;
      color: white;
    }
    .item-ios.activated {
      background-color: #356083;
    }

    .noitems {
      position: absolute;
      top: 43%;
      width: 100%;
      color: white;
      font-weight: bold;
      text-align: center;
    }

    .icons {
      font-size: 40px; //Preferred size here
      color: white;
    }

    .title-menu {
      font-size: 4.3vw;
      color: white;
      font-weight: bold;
    }
    .title-menu-add {
      font-size: 4.8vw;
      color: #ea6153;
      font-weight: bold;
    }
    .icons-menu-add {
      position: relative;
      left: 0px;
      top: 1px;
      font-size: 5.8vw; //Preferred size here
      font-weight: bold;
      color: #ea6153;
    }
    .title-banner {
      position: absolute;
      width: 100%;
      top: 48px;
      font-size: 6.2vw; //Preferred size here
      font-weight: bold;
      color: #FFF;
      z-index: inherit;
      text-shadow: 1px 1px black;
    }
    .title-menu-top {
      position: relative;
      top: 1px;
      font-size: 4.3vw;
      color: white;
      background-color: transparent;
    }
    .icons-menu-top {
      position: relative;
      left: -20px;
      top: -5px;
      font-size: 7.8vw; //Preferred size here
      font-weight: bold;
      color: #ea6153;
      z-index: 10000;
    }
    .icons-menu-top2 {
      position: relative;
      left: -20px;
      top: -5px;
      font-size: 7.8vw; //Preferred size here
      font-weight: bold;
      color: #f1f5f8;
      z-index: 10000;
    }
    .icons-menu {
      position: relative;
      top: 2px;
      font-size: 6.4vw; //Preferred size here
      color: #fff;
    }

    .card {
      min-height: 80px;
      border: 1px rgb(168, 167, 168) solid;
      border-radius: 3px;
    }
    img {
			opacity: 1;
			transition: opacity 0.3s;
		}

		img[data-src] {
			opacity: 0;
		}
      .showMenu {
        display: block !important;
      }
 
      .image-container {
        z-index: 9999;
        min-height: 80px;
        background-size: cover;
        background-position: center;
        background-image: url('../assets/imgs/picture.png');
      }

      .image-container-banner {
        min-height: 120px;
        background-size: cover;
        background-position: center;
      }
      .opacit {
        -webkit-filter: blur(1px) brightness(30%); /* Safari 6.0 - 9.0 */
        filter: blur(1px) brightness(30%);
      }
      .banner-content {
        max-height: 20px;
        border-top: 1px solid rgb(209, 208, 208);
        background-color: rgb(236, 234, 234);
      }

      .card-content-ios {
        padding: 13px 16px 16px !important;
      }
      .card-content-md {
        padding: 13px 16px 18px !important;
      }

      .image-container-noimage {
        position: absolute;
        top: 0px;
        left: 0px;
        min-height: 100px;
        background-size: cover;
        background-position: center;
        -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
          filter: grayscale(50%);
      }
  
      .thumb {
        margin-top: 0px;
        margin-left: -8px;
        border-radius: 3px;
        max-width: 50px;
        max-height: 50px;
      }
  
      .titlecard {
        position: relative;
        top: 5px;
        left: 1px;
        color: black;
        max-width: 150px !important;
        height: 15px !important;
        word-break: break-all;
        overflow: hidden;        
        font-weight: bold;
        font-size: 12px;
        letter-spacing: -0.2px;
        text-transform: capitalize !important;
      }
      .deal {
        color: #9c2020;
        position: relative;
        padding-bottom: 14px;
        line-height: 12px;
        top: 8px;
        left: 1px;
        font-size: 11px;
      }
  
      .subtitlecard {
       
        font-weight: bold;
        font-size: 10px;
        letter-spacing: -0.5px;
      }

      .scroll-zoom-wrapper {
        white-space: nowrap;
    }

    .card-banner {
        width: 100% !important;
        display: inline-block;
        min-height: 120px !important;
        margin-right: 10px !important;
        overflow: hidden;    
    }
    .card-banner-slide {
      width: 100% !important;
      display: inline-block;
      min-height: 120px !important;
      overflow: hidden;    
      border-radius: 5px;
  }
    .card-slide {
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 120px !important;
      //background: blue;
      border-radius: 5px;
      width: 98%;
  }

    .card-banner-slapay {
      width: 100% !important;
      min-height: 120px !important;
  }
  .scroll-content {
    background-color: #356083;
    
  }

  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border: 0px !important;
  }
    ion-scroll {
      top: 10px;
      margin-bottom: 10px;
      max-width: 100%;
      background-color: transparent !important;
        min-height: 160px; 
        height: auto;
        border-radius: 3px;
            .scroll-content {
              background-color: #356083;
              overflow: hidden;
            border-radius: 3px;
        }    
    }


    ion-grid {
      background-color: rgb(255, 255, 255);
      margin-bottom: 10px;
      border-bottom: 2px rgb(206, 204, 204) solid;
    }

    .title-col {
      color: black;
    }
    .start {
      position: absolute;
      top: -5px;
      left: -5px;
      min-height: 126px;
      width: 110%;
      z-index: 1;
      background-color: black;
      -webkit-filter: brightness(90%) opacity(50%);  /* Safari */
      filter: brightness(90%) opacity(50%);
      overflow: hidden;
    }
    .title-col-prod {
      position: absolute;
      left: 5px;
      top: 15px;
      min-height: 50px;
      width: 60%;
      color: white;
      font-weight: bold;
      font-size: 4vw;
    }
    .title-loading {
      position: relative;
      top: -10px;
      color: rgb(95, 94, 94);
      font-size: 12px;
    }
    .link-col {
      min-width: 100%;
      text-align: right;
    }
    .link-banner {
      position: relative;
      top: -10px;
      right: -7px;
      text-align: right;
    }
    .text-banner {
      color: black;
      font-size: 3.2vw;
      position: relative;
      top: -7px;
      left: -7px;
      float: left;

    }
    .subtitle-coupon {
      color: white;
      font-size: 5vw;
      font-weight: bold;
      position: absolute;
      top: 6px;
      left: 10px;
      text-shadow: 1px 1px black;
    }
    .maxuse-coupon {
      color: white;
      font-size: 3.2vw;
      position: absolute;
      top: 95px;
      right: 10px;
      text-shadow: 1px 1px black;
    }
    .value-coupon {
      color: white;
      font-size: 9vw;
      position: absolute;
      line-height: 20px;
      top: 46px;
      left: 9px;
      text-shadow: 1px 1px black;
    }
    .star-coupon {
      color: white;
      font-size: 6vw;
      position: absolute;
      line-height: 20px;
      top: 76px;
      left: 88px;
      text-shadow: 1px 1px black;
    }
    .usein-coupon {
      color: white;
      font-size: 3.6vw;
      position: absolute;
      line-height: 20px;
      top: 70px;
      left: 10px;
      text-shadow: 1px 1px black;
    }
    .usecode-coupon {
      color: white;
      font-size: 3.5vw;
      position: absolute;
      line-height: 20px;
      top: 29px;
      right: 10px;
      text-shadow: 1px 1px black;
    }
    .code-coupon {
      color: white;
      font-size: 6.4vw;
      font-weight: bold;
      position: absolute;
      line-height: 20px;
      top: 49px;
      right: 10px;
      text-shadow: 1px 1px black;
    }
    .link {
      color: #40739e;
      font-size: 3.2vw;
      text-align: right;
      font-weight: bold;
      text-decoration: none;
    }
    .red {
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(30vh - 44px);
      background: red;
  }
  .green {
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(30vh - 44px);
      background: green;
  }
  

  .swiper-container {
    overflow: initial !important;
  }
  .slide {
      margin-right: 4px;
      overflow-x: scroll; /* has to be scroll, not auto */
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      -webkit-scroll-snap-type: mandatory;
      /* scroll-snap-destination is not required in this case but could be necessary in some situations */
      -webkit-scroll-snap-destination: 110% 10%;
      -webkit-scroll-snap-points-y: repeat(calc(30vh - 44px));
  }

  .col-slide {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }


    .result-search {
      max-height: 310px;
      overflow: hidden;
      overflow-y: auto;
      width: 100%;
    }
    .gridprod {
      background-color: #356083;
      margin-bottom: 0px;
      border-bottom: 1px #25435c solid;
    }
    
    .spinner-container {
      min-height: 30px;
      padding-left: 10px;
      padding-bottom: 10px;
      color: white;
      font-weight: bold;
      background-color: #356083;
      width: 100%;
    }
    .divprices {
      position: absolute;
      right: 5px;
      top: 7px;
    }
    .divpricesO {
      position: absolute;
      right: 5px;
      top: 7px;
      min-width: 40%;
      text-align: right;
    }
    .divpricesP {
      position: absolute;
      right: 5px;
      top: 7px;
    }
    .priceprod {
      float: left;
    }
    
    .old {
      color: rgb(168, 167, 167);
      font-size: 3vw;
      font-weight: bold;
      margin-right: 6px;
      margin-top: 4px;
      text-decoration: line-through;
    }
    .new {
      color: white;
      font-size: 4vw;
      font-weight: bold;
    }
    .subtitle-col {
      font-size: 12px;
      color: black;
    }
    .description-col {
      font-size: 4vw;
      color: white;
      font-weight: bold;
    }
    .description-cat {
      font-size: 2.5vw;
      color: rgb(216, 214, 214);
      position: relative;
      top: -8px;
      height: 40px;
    }
    .offer-col {
      padding-top: 5px;
      font-size: 12px;
      color: brown;
      padding-bottom: 5px;
    }
    .valids {
      font-size: 2.7vw;
      position: relative;
      top: 10px;
    }
    .endbutton {
      font-size: 10vw;
      position: absolute;
      transition: background .3s linear; 
      right: 5px;
      top: -35px;
      animation: pulse, pulse, pulse;
      animation-delay: 10s, 30s, 59s;
      animation-duration: 0.5s;
      &:hover .shine {
        transform: skewX(20deg) translateX(300px);
      }
    }
    .shine {
      position: absolute;
      top: 0;
      left: -70px;
      height: 98px;
      width: 50px;
      background: rgba(255, 255, 255, 0.4);
      transition: all .3s linear;
      transform: skewX(20deg) translateX(0);
    }
    
 
 
  
  .link-gray {
      color: gray;
      font-size: 2.9vw;
      font-weight: bold;
      text-decoration: underline;
    }



    .discountprod {
      color: rgb(150, 248, 150);
      font-size: 3vw;
      font-weight: bold;
      position: absolute;
      right: 5px;
      top: 5px;
      padding: 4px 4px 4px 4px;
      border: 1px rgb(150, 248, 150) solid;
      border-radius: 5px;
    }
    .discountprodred {
      color: rgb(241, 131, 131);
      font-size: 3vw;
      font-weight: bold;
      position: absolute;
      right: 5px;
      top: 5px;
      padding: 4px 4px 4px 4px;
      border: 1px rgb(241, 131, 131) solid;
      border-radius: 5px;
    }


  
  .offerseal {
    position: absolute;
    background-image: url('../assets/imgs/discount.png');
    top: -5px;
    right: -12px;
    width: 45px;
    min-height: 45px;
    background-size: 45px 37px;
    background-repeat: no-repeat;
  }
  .deals {
    color: white;
    position: absolute;
    line-height: 9px;
    text-align: right;
    font-size: 8px;
    top: 6px;
    left: 12px;
    font-weight: bold;
    letter-spacing: 0.7px;

  }

     

      .shop {
        color: white;
        position: absolute;
        line-height: 12px;
        top: 13px;
        left: 10px;
        font-size: 20px;
        
      }

      .distance {
        position: absolute;
        bottom: 4px;
        left: 4px;
        font-size: 9px;
        border-radius: 3px !important;
        background-color: #0c68a4;
      }
  
      .tag {
        background-color: #0c68a4;
        color: white;
        font-size: 9px;
        line-height: 13px;
        border-radius: 0px 0px 10px 0px; 
        padding-right: 7px;
        padding-left: 7px;
        font-weight: bold;
        position: absolute;
        top: 5px;
        left: 5px;
        max-width: 80px;
      }

      .fixed-outside{
        position: absolute;
        bottom: 0;
        color:white;
        width: 100%;
        height:  120px;
        text-align:center;
      }

      .item-md h2 {
        font-size: 4.4vw;
        color: white;
        font-weight: bold;
      }
      .item-ios h2 {
        font-size: 4.4vw;
        color: white;
        font-weight: bold;
      }
      .item-md p {
        font-size: 3.3vw;
        color: white;
      }
      .item-ios p {
        font-size: 3.3vw;
        color: white;
      }
      .content-md hr {
        background-color: rgba(0, 0, 0, 0.08);
      }
      .content-ios hr {
        background-color: rgba(0, 0, 0, 0.08);
      }
      .item-md ion-avatar[item-start], .item-md ion-thumbnail[item-start] {
        margin: -25px 6px -5px -1px;
      }
      .item-ios ion-avatar[item-start], .item-ios ion-thumbnail[item-start] {
        margin: -25px 6px -5px -1px;
      }
      .location-main {
        position: fixed;
        background-color: #356083;
        top: 50px;
        max-height: 80px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        width: 100%;
        left: 0px;
        z-index: inherit;
      }
      .tit-location-main {
        position: relative;
        color: white;
        top: 3px;
        left: 13px;
        z-index: inherit;
      }
      .div-location {
        position: fixed;
        //display: none;
        background-color: #356083;
        top: 50px;
        max-height: 50px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        width: 100%;
        left: 0px;
        z-index: inherit;
      }
      .div-location-show {
        display: block;
      }
      .search-location {
        background-color: #356083;
        position: relative;
        //z-index: inherit;
        width: 90%;
        left: 3px;
        float: left;
      }
      .icons {
        font-size: 55px; //Preferred size here
        color: #40739e;
      }
      
      .noitems {
        position: absolute;
        top: 40%;
        width: 100%;
        color: black;
        font-weight: bold;
        text-align: center;
      }
      .search-everything {
        background-color: #356083;
        position: relative;
        //z-index: inherit;
        width: 99%;
        left: 3px;
        float: left;
      }
      .searchbar-md .searchbar-input {
        line-height: 0;
      }
      .searchbar-md .searchbar-search-icon {
        top: 6px;
      }
      .searchbar-md .searchbar-clear-icon {
        top: 3px;
      }
      .searchbar-ios .searchbar-clear-icon {
        top: 3px;
      }
      .bt-location {
        position: fixed;
        top: 26px;
        right: 10px;
        font-size: 7vw;
        color: white;
        z-index: 1000;
      }
      .search-location-bg {
        width: 100%;
        position: fixed;
        left: 0px;
        top: 50px;
        min-height: 100%; background-color: rgba(0, 0, 0, 0.7);
      }
}

.ios {
  .logomenu {
    position: fixed;
    top: 7px;
    left: 14px;
    width:40%;
  }
}
.md {
  .logomenu {
    position: fixed;
    top: -18px;
    left: 14px;
    width:40%;
  }
}
