<ion-header>
  <ion-navbar>
    <button (click)="clearHome();" ion-button menuToggle icon-only color="light">
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title color="light">{{ usr_newaddress != '0' && usr_newaddress != '' && usr_newaddress != null ? usr_newaddress : 'Próximo à mim'}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="light" (click)="cependPage()">
            <ion-icon name="locate"></ion-icon>
      </button>
      &nbsp;
      <button ion-button icon-only color="light" (click)="searchPage()">
            <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar> 
</ion-header>

<ion-menu [content]="myContent" type="overlay">
  <ion-header>
    <ion-toolbar color="masters">
      <ion-title><img class="logomenu" src="assets/imgs/logomenu.png"/></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
  
      <ion-item *ngIf="usr_signup == 'facebook' || usr_signup == 'email'">
        <ion-avatar item-start *ngIf="usr_signup == 'facebook'">
          <img src="{{ usr_picture }}">
        </ion-avatar>
        <h2>Olá {{ usr_name }}</h2>
        <p>{{ usr_email }}</p><br>
        <button menuClose icon-only class="title-menu-top" (click)="registerPage()">
          <ion-icon name="contact" class="icons-menu-top"></ion-icon>
        </button>
        <button menuClose icon-only class="title-menu-top" (click)="ordersPage()">
          <ion-icon *ngIf="newped != true" name="notifications" class="icons-menu-top"></ion-icon>
          <ion-icon *ngIf="newped == true" name="notifications" class="icons-menu-top2 animated shake"></ion-icon>
        </button>
        <button menuClose icon-only class="title-menu-top" (click)="exitMyApp()">
          <ion-icon name="log-out" class="icons-menu-top"></ion-icon>
        </button>
      </ion-item>
      <hr *ngIf="usr_signup == 'facebook' || usr_signup == 'email'">

      <ion-item *ngIf="usr_signup != 'facebook' && usr_signup != 'email'">
        <h2><ion-icon name="happy"></ion-icon> Olá!</h2>
        <p>Seja bem-vindx ao Se Liga Aí!</p>
        <hr>
      </ion-item>
      
      <button *ngIf="usr_signup != 'facebook' && usr_signup != 'email'" menuClose ion-item icon-start class="animated fadeInUp title-menu-add" (click)="signPage()">
        <ion-icon name="person-add" class="icons-menu-add"></ion-icon>
        Entre ou Cadastre-se!
      </button>
      <button menuClose ion-item icon-start class="title-menu" (click)="mapsPage()">
        <ion-icon name="map" class="icons-menu"></ion-icon>
        Mapa
      </button>
      <button menuClose ion-item icon-start class="title-menu" (click)="categoriesPage()">
        <ion-icon name="list" class="icons-menu"></ion-icon>
        Categorias
      </button>
      <button menuClose ion-item icon-start class="title-menu" (click)="alertasPage()">
        <ion-icon name="alert" class="icons-menu"></ion-icon>
        Meus Alertas
      </button>
      <button menuClose ion-item icon-start class="title-menu" (click)="highlightsPage()">
        <ion-icon name="pricetag" class="icons-menu"></ion-icon>
        Em Destaque
      </button>
      <button menuClose ion-item icon-start class="title-menu" (click)="favouritesPage()">
        <ion-icon name="star" class="icons-menu"></ion-icon>
        Locais Favoritos
      </button> 
      <button menuClose ion-item icon-start class="title-menu" (click)="shareFriend()">
        <ion-icon name="megaphone" class="icons-menu"></ion-icon>
        Indique a um Amigo
      </button>
      <button *ngIf="usr_signup == 'facebook' || usr_signup == 'email'" menuClose ion-item icon-start class="title-menu" (click)="indicaPage()">
        <ion-icon name="home" class="icons-menu"></ion-icon>
        Indique & Ganhe
      </button>
      <button menuClose ion-item icon-start class="title-menu" (click)="divulgaPage()">
        <ion-icon name="paper" class="icons-menu"></ion-icon>
        Quero Divulgar
      </button>
      <button *ngIf="usr_signup == 'facebook' || usr_signup == 'email'" menuClose ion-item icon-start class="title-menu" (click)="lotteryPage()">
        <ion-icon name="medal" class="icons-menu"></ion-icon>
        Sorteios & Brindes
      </button>
      <button menuClose ion-item icon-start class="title-menu" (click)="rateApp()">
        <ion-icon name="star" class="icons-menu"></ion-icon>
        Avalie o App
      </button>
      <button menuClose ion-item icon-start class="title-menu" (click)="termosPage()">
        <ion-icon name="clipboard" class="icons-menu"></ion-icon>
        Termos de Uso
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #myContent [root]="rootPage"></ion-nav>

<div class="div-location" *ngIf="showSearchLocation == true">
    <div class="search-location-bg" (click)="closeLocation();"></div>
    <div class="location-main animated flipInX">
      <div class="tit-location-main">Informe sua nova localização:</div>
        <ion-searchbar class="search-location" placeholder="Digite o endereço ou CEP" [(ngModel)]="autocomplete.query" [showCancelButton]="false" (ionInput)="updateSearch()" (ionCancel)="dismiss()"></ion-searchbar>
        <ion-icon class="bt-location" name="navigate" (click)='myLocation();'></ion-icon>
        <div *ngIf="showitem == true">
            <ion-item *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item.description)">
                <strong>{{ item.terms[0].value }}</strong><br>
                <small>{{ item.terms[1].value }} - {{ item.terms[2].value }}/{{ item.terms[3].value }}</small>
            </ion-item>
        </div>
    </div>
  </div>

  <div class="div-location" *ngIf="showFind == true">
      <div class="search-location-bg" (click)="closeFind();"></div>
      <div class="location-main animated flipInX">
        <div class="tit-location-main">Pesquise por ofertas e promoções:</div>
          <ion-searchbar class="search-everything" placeholder="Encontre de tudo!" [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="setFilteredItems()" [showCancelButton]="false"></ion-searchbar>
            <div *ngIf="searching" class="spinner-container">Buscando ítens...</div> 
            <div *ngIf="noitem == true && !searching" class="spinner-container">Nenhum ítem encontrado!</div> 
            <div class="result-search" *ngIf="noitem == false">
              <ion-grid class="gridprod animated fadeIn" *ngFor="let dat of items">
                  <ion-row>
                    <ion-col col-12>
                        <div *ngIf="dat.starts > 0" (click)="getProductDetails(dat.ofeid, dat.store, dat.starts)" class="start"></div>
                        <span class="description-col">{{ dat.store }}</span>
                        <div *ngIf="dat.modality == 2 || dat.modality == 3" class="discountprod">{{ dat.rounddiscount }}% OFF</div>
                        <div *ngIf="dat.modality == 1 || dat.modality == 3" class="discountprodred">OFERTA</div>
                    </ion-col>
                    <ion-col col-12>
                        <div class="description-cat">{{ dat.category }}</div>
                        <div class="title-col-prod"><strong>{{ dat.name }}</strong></div>
                        <div *ngIf="dat.modality == 2" class="divpricesP">
                            <div class="priceprod old">{{ dat.oldprice | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</div>
                            <div class="priceprod new">{{ dat.newprice | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</div>
                        </div>
                        <div *ngIf="dat.modality != 2" class="divpricesO">
                          <div class="new">{{ dat.oldprice | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</div>
                      </div>
                    </ion-col>
                    <ion-col col-12>
                        <ion-badge *ngIf="dat.starts > 0" class="valids" color="secondary">{{ dat.ends }}</ion-badge>
                        <ion-badge *ngIf="dat.starts <= 0" class="valids" color="offers">{{ dat.ends }}</ion-badge>
                    </ion-col>
                    <ion-col col-12>
                            <button *ngIf="dat.starts <= 0" ion-button small class="endbutton animated" color="offers" (click)="getProductDetails(dat.ofeid, dat.store, dat.starts)">
                              + DETALHES
                            </button>
                            <button *ngIf="dat.starts > 0" ion-button small class="endbutton animated" color="offers">
                                AGUARDE!
                            </button>
                    </ion-col>
                  </ion-row>  
              </ion-grid>
            </div>
      </div>
    </div>

<ion-content class="masters">

    <ion-refresher class="masters3" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content  class="masters3"
          pullingIcon="arrow-dropdown"
          pullingText="Deslize para atualizar"
          refreshingSpinner="spinner"
          refreshingText="Buscando Locais...">
          </ion-refresher-content>
      </ion-refresher>

      
      <ion-grid *ngIf="noitembanner == false && faraway == false">
        <ion-col col-12 *ngIf="loadingbanner == true">
            <img src="assets/imgs/tag.gif" height="35px;">
            <span class="title-loading"> Buscando Lojas em Destaque...</span>
        </ion-col>
        <ion-row>
          <ion-col col-12 class="col-slide" >
              <ion-slides slider="data.slider">
                  <ion-slide class="slide" *ngFor="let ban of banners">
                    <div class="card-slide">
                        <ion-card class="card-banner-slide animated fadeInLeft">
                            <div class="image-container-banner opacit" [style.background-image]="'url(' + ban.logo + ')'"></div>
                            <div class="title-banner">{{ ban.store }}</div>
                            <ion-card-content class="banner-content">
                                <div class="text-banner">Tem {{ ban.numoffers }} {{ lbl_offers }} esperando por você!</div>
                                <div class="link-banner"><a class="link" (click)="getStoreDetails(ban.addid, ban.store)">Saiba mais</a></div>
                            </ion-card-content>
                          </ion-card>
                    </div>
                  </ion-slide>
              </ion-slides>
            </ion-col>
          </ion-row>
      </ion-grid>

      <ion-grid *ngIf="noitemseller == false && faraway == false">
          <ion-row >
            <ion-col col-6>
                <span class="title-col">Vendas Online</span>
            </ion-col>
            <ion-col col-6 *ngIf="showmoreseller == true">
              <div class="link-col"><a class="link" (click)="showAllSellers()">Ver todos</a></div>
            </ion-col>
            <ion-col col-12 *ngIf="loadingseller == true">
                <img src="assets/imgs/tag.gif" height="35px;">
                <span class="title-loading"> Buscando Vendedores...</span>
            </ion-col>
            <ion-col col-6 *ngFor="let str of sellers" (click)="getStoreDetails(str.addid, str.store)">
              <ion-card class="card animated rubberBand">
                <div class="image-container" [style.background-image]="'url(' + str.logo + ')'"></div>
                <div class="image-container-noimage" [style.background-image]="'url(assets/imgs/logomenu.png)'"></div>
                <div class="offerseal"><ion-icon class="shop" name="cart"></ion-icon></div>
                <ion-badge class="distance" *ngIf="str.latitude != ''">{{ getDistance(str.latitude, str.longitude) }}</ion-badge> 
              </ion-card>
              <div class="titlecard">{{ str.store }}</div>
              <div class="deal">{{ str.numoffers }} | até <strong>{{ str.max_discount }}%</strong> OFF</div>
            </ion-col>
          </ion-row>
      </ion-grid>

      <ion-grid *ngIf="faraway == false && noitemcoupon == false">
          <ion-row>
            <ion-col col-12>
                <span class="title-col">Cupons Promocionais</span>
            </ion-col>
            <ion-col col-12 *ngIf="loadingcoupon == true">
                <img src="assets/imgs/tag.gif" height="35px;">
                <span class="title-loading"> Buscando Cupons...</span>
            </ion-col>
            <ion-col col-12 *ngFor="let cou of coupons">
                <ion-card class="card-banner animated fadeInLeft">
                    <div class="image-container-banner" [style.background-image]="'url(' + cou.logo + ')'"></div>
                    <div class="subtitle-coupon">{{ cou.store }}</div>
                    <div class="star-coupon">*</div>
                    <div class="value-coupon"><strong>{{ cou.value | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</strong></div>
                    <div class="usein-coupon"> de desconto{{ cou.usein }}</div>
                    <div class="maxuse-coupon">* limite de <strong>{{ cou.maxusagepershop }}</strong> por usuário</div>
                    <div class="usecode-coupon">Clique no código</div>
                    <div class="code-coupon" (click)="copyText(cou.code, cou.strid)">{{ cou.code }}</div>
                    <ion-card-content class="banner-content">
                        <div class="text-banner">Válido até {{ cou.expires }}</div>
                        <div class="link-banner" *ngIf="cou.strid > 0"><a class="link" (click)="getStoreDetails(cou.addid, cou.store)">Saiba mais</a></div>
                    </ion-card-content>
                  </ion-card>
              </ion-col>
          </ion-row>  
      </ion-grid>
      
      <ion-grid *ngIf="faraway == false">
        <ion-card class="card-banner-slapay animated jackInTheBox">
          <div class="image-container-banner" [style.background-image]="'url(https://em2d.com.br/seligaai/categories/baladas.jpg)'"></div>
        </ion-card>
      </ion-grid>      
      
      <ion-grid *ngIf="faraway == false">
          <ion-row>
              <ion-col col-12>
                <span class="title-col">Ofertas & Promo&ccedil;&otilde;es</span>
              </ion-col>
              <ion-col *ngIf="loadingstore == true" col-12>
                  <img src="assets/imgs/tag.gif" height="35px;">
                  <span class="title-loading"> Buscando Locais...</span>
              </ion-col>
            <ion-col col-6 *ngFor="let str of stores" (click)="getStoreDetails(str.addid, str.store)">
              <ion-card class="card animated rubberBand">
               <div class="image-container" [style.background-image]="'url(' + str.logo + ')'"></div>
               <div class="image-container-noimage" [style.background-image]="'url(assets/imgs/logomenu.png)'"></div>
               <div class="offerseal" *ngIf="str.cansell == 1"><ion-icon class="shop" name="cart"></ion-icon></div>
               <ion-badge class="distance" *ngIf="str.latitude != ''">{{ getDistance(str.latitude, str.longitude) }}</ion-badge> 
              </ion-card>
              <div class="titlecard">{{ str.store }}</div>
              <div class="deal">{{ str.numoffers }} | até <strong>{{ str.max_discount }}%</strong> OFF</div>
            </ion-col>
          </ion-row>
      </ion-grid>
      
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
        <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
      </ion-infinite-scroll>

      <div *ngIf="faraway == true && loaded == true" class="noitems"><ion-icon class="icons" name="rainy"></ion-icon><br>Ops, nenhum local próximo encontrado!<br>Experimente digitar um local diferente!</div>

     
</ion-content>