<ion-header>
        <ion-navbar>
          <ion-title color="light">Indique & Ganhe</ion-title>
        </ion-navbar>
</ion-header> 

<ion-content padding class="masters2">

        <h2>Deseja indicar uma empresa para obter ofertas e promoções?</h2>
        <p>Informe o nome do local e um telefone de contato da empresa para que possamos trazê-la ao Se Liga Aí!</p>
        <p>Caso a empresa divulgue conosco através de sua indicação, você ganha <strong>R$ 20</strong> de bônus em sua Carteira Virtual!</p>

          <form [formGroup]="form" (submit)="sendIndication()">
            <ion-list radio-group no-lines>
                
                <ion-item class="masters">
                    <ion-label *ngIf="form.controls.name.valid || (!form.controls.name.dirty && !submitAttempt)" color="light" stacked>Nome do Estabelecimento:</ion-label>
                    <ion-label *ngIf="!form.controls.name.valid  && (form.controls.name.dirty || submitAttempt)" color="light" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Informe o nome do local corretamente!</strong></ion-label>
                    <ion-input maxlength="50" [class.invalid]="!form.controls.name.valid && (form.controls.name.dirty || submitAttempt)" formControlName="name" placeholder="Ex: Loja do Tião, Supermercado ObaOba"></ion-input>
                </ion-item>
               
                <ion-item class="masters">
                    <ion-label *ngIf="form.controls.name.valid || (!form.controls.name.dirty && !submitAttempt)" color="light" stacked>Telefone de Contato:</ion-label>
                    <ion-label *ngIf="!form.controls.tel.valid && (form.controls.tel.dirty || submitAttempt)" color="light" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Informe o telefone corretamente!</strong></ion-label>
                    <ion-input maxlength="14" [brmasker]="{mask:'(00) 0000-0000', len:14}" [class.invalid]="!form.controls.tel.valid && (form.controls.tel.dirty || submitAttempt)" formControlName="tel" type="tel" placeholder="(XX) 0000-0000"></ion-input>
                </ion-item>
            </ion-list>
            <button ion-button icon-start block color="buttons" type="submit">
                 <ion-icon name="checkmark-circle-outline"></ion-icon>
                ENVIAR INDICAÇÃO
            </button>
            
         </form>
        </ion-content>