.ios, .md {
 
    page-indicaloja {

        .toolbar-background {
            background-color: #40739e;
          }
          .bar-button-default-ios {
            color: white;
          }
          .bar-button-default-md {
            color: white;
          }

        .masters {
            background-color: transparent;
            color: white;
        }

        .masters2 {
            background-color: white;
            color: black;
        }  
        .item-md {
            padding-left: 0px;
        }
        .item-ios {
            padding-left: 0px;
        }
        .error {
            font-size: 0.8em;
            color: #ea6153;
            font-weight: bold;
            background-color: transparent !important;
        }
 
        .invalid {
            border-bottom: transparent;
            //border-radius: 3px;
        }

        .text-input-ios {
            border-radius: 4px;
            border: 1px solid rgb(197, 196, 196);
            width: 100%;
            height: 40px;
            background-color: rgb(243, 244, 245);
            padding-left: 5px;
        }
        
        .text-input-md {
            border-radius: 4px;
            border: 1px solid rgb(197, 196, 196);            
            width: 100%;
            height: 40px;
            background-color: rgb(243, 244, 245);
            padding-left: 5px;
        }

        .item-md.item-block .item-inner,
        .item-md.item-input.input-has-focus .item-inner,
        .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
        .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
        .list-md .item-input.input-has-focus:last-child,
        .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
        .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
            border-bottom: none;
            box-shadow: none;
        }
        .list-md .item-input.input-has-focus:last-child .item-inner,
        .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner,
        .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child .item-inner {
            box-shadow: none; 
        }

        h2 {
            font-size: 6vw;
        }
        p {
            font-size: 3.5vw;
        }
 
    }
 
}