page-map {
    #map {
      height: 100%;
    }
    .toolbar-background {
      background-color: #40739e;
    }
    .bar-button-default-ios {
      color: white;
    }
    .bar-button-default-md {
      color: white;
    }
    .masters {
      background-color: rgb(224, 221, 221) !important;
      color: black;
    }
  }