<ion-header>
    <ion-navbar>
        <ion-title color="light">
        Mapa
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="masters">
<div #map id="map"></div>
</ion-content>
      