// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #00b894,
  danger:     #f53d3d,
  light:      white,
  dark:       #000000,
  warning:    #b89913,
  offers:     #b44040,
  buttons:    #273c75,
  btnok:      #273c75,
  btncanc:    #c23616
);



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

//@import "roboto";
//@import "noto-sans";

@font-face {
  font-family: 'Lato';
  font-weight: normal;
  src: url('../assets/fonts/lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: bold;
  src: url('../assets/fonts/lato/Lato-Bold.ttf');
}

$font-family-base: "Lato"; //THIS DOES WORK!
$font-family-md-base: "Lato"; // THIS DOES WORK
$font-family-ios-base: "Lato"; // THIS DOES WORK
$font-family-wp-base: "Lato"; // THIS DOES WORK

$text-input-highlight-color-valid:transparent;
$text-input-highlight-color-invalid:transparent;
$label-md-text-color-focused: #000;
$label-ios-text-color-focused: #000;

$select-md-placeholder-color: #fff;
$select-md-icon-color: #FFF;
$select-ios-placeholder-color: #fff;
$select-ios-icon-color: #FFF;

$datetime-md-placeholder-color: #fff;
$datetime-ios-placeholder-color: #fff;

$toolbar-md-title-text-color: #fff;
$toolbar-ios-title-text-color: #fff;
$toolbar-wp-title-text-color: #fff;
$toolbar-ios-height: 5rem; // ios
$toolbar-md-height: 5rem;  // android
$toolbar-ios-title-font-size: 1.1em;
$toolbar-md-title-font-size: 1.1em;

$radio-md-color-off: #fff;
$radio-ios-color-off: #fff;

$refresher-icon-color: #fff;