<ion-header>
    <ion-navbar>
      <ion-title color="light">
        Termos de Uso
      </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content padding text-justify class="masters">
    <p [innerHTML]="updated_at"></p>     
    <p [innerHTML]="content"></p>
  </ion-content>
