<ion-nav [root]="rootPage"></ion-nav>

<div class="no-signal" *ngIf="globals.networkDown == true">
    <img src="assets/imgs/no-signal.png" class="img-no-signal" />
    <div class="txt-no-signal">
        <p><strong>Ops, algo deu errado!</strong></p>
        Parece que você está sem acesso a Internet!<br>
        Você poderá acompanhar novas ofertas assim<br>
        que sua internet voltar ao normal!<br><br><br>
        <button color="buttons" (click)="refreshNetwork()"ion-button item-end small outline>RECARREGAR</button>
    </div>
</div>

<ion-footer *ngIf="globals.itemOnCart == true && globals.showFooterOnSomePages == true">
    <div id="cartcontent" class="cart-content">
        <div class="close-cart"><ion-icon name="arrow-dropdown" class="bt-close-cart" (click)="globals.closeCart();"></ion-icon></div>
        <div class="cart-body">
            <div class="cart-items" id="itm-{{ cart.id }}" *ngFor="let cart of globals.cart_items">
                <div class="cart-description">{{ cart.description }} {{ cart.caracteristic }}</div>
                <div class="cart-price">{{ (cart.qtd * cart.vlunit) | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</div>
                <div class="cart-price-small" *ngIf="cart.qtd > 1">{{ cart.vlunit | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }} cada</div>
                <div class="delete-cart"><ion-icon name="trash" class="bt-delete-cart" (click)="globals.removeItem(cart.id);"></ion-icon></div>
                <div class="cart-carac">Oferecido por {{ cart.store }}</div>
                <div class="ctrl-buttons">
                    <button class="ctl-buttons del" (click)="globals.delQtd(cart.id)"ion-button item-end small outline>-</button>
                    <button class="ctl-buttons num" disabled="disabled" ion-button item-end small outline>{{ cart.qtd || 0 }}</button>
                    <button class="ctl-buttons add" (click)="globals.addQtd(cart.id)" ion-button item-end small outline>+</button>
                </div>
            </div>
            <div class="totals">
                <div class="lbl-cart-price-subtotal">Subtotal</div>
                <div class="cart-price-subtotal">{{ globals.total_cart | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</div>
                <div class="lbl-cart-price-shipping">Taxa de entrega e serviço não inclusas!</div>
            </div>
            <div class="actions">
                <div class="ctrl-actions">
                    <button class="ctl-actions" color="offers" (click)="openHomePage();" ion-button icon-start outline small><ion-icon name="add-circle"></ion-icon> Adicionar mais Ítens</button>
                </div>
                <div class="ctrl-actions">
                    <button class="ctl-actions" color="offers" (click)="openPayment();" ion-button icon-start small><ion-icon name="checkmark-circle"></ion-icon>Concluir Pedido</button>
                </div>
            </div>
        </div>
    </div>
    <div id="bgcart" class="cart-bg"></div>
    <ion-toolbar>
            <div class="qtd_footer">{{ globals.item_cart }}</div>
            <div class="val_footer">{{ globals.total_cart | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</div>
            <ion-buttons end>
                <button ion-button small icon-only (click)="globals.openCart();" color="light">
                    <ion-icon name="cart"></ion-icon>
                </button>
            </ion-buttons>    
        </ion-toolbar>
</ion-footer>