// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.text-input::-moz-placeholder {
    color: #babcbe;
    font-style: italic;
    font-size: 5vw;
  }

  .list-md .item-input:last-child {
    border-bottom: none !important;
  }

  .text-input-ios {
    font-size: 6vw;
    font-weight: bold;
    color: black;
  }
  .text-input-md {
    font-size: 6vw;
    font-weight: bold;
    color: black;
  }
  
  .text-input:-ms-input-placeholder {
    color: #babcbe;
    font-style: italic;
    font-size: 5vw;
  }
  
  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: #babcbe;
    font-style: italic;
    font-size: 5vw;
  }

  .select-md .select-placeholder {
    color: #babcbe;
    font-style: italic;
    font-size: 5vw;
  }
  
  .select-ios .select-placeholder {
    color:  #babcbe;
    font-style: italic;
    font-size: 5vw;
  }
  
  .datetime-md .datetime-placeholder {
    color:  #babcbe;
    font-style: italic;
    font-size: 5vw;
  }

  .datetime-ios .datetime-placeholder {
    color:  #babcbe;
    font-style: italic;
    font-size: 5vw;
  }
  .datetime-text {
    font-size: 6vw;
    font-weight: bold;
  }
  .select-text {
    font-size: 6vw;
    font-weight: bold;
  }

  /* .alert-ios .alert-radio-group {
    //overflow: hidden;
   // background-image: linear-gradient(180deg, #40739e, #000000);
  }
  .alert-ios .alert-button,
  .alert-md .alert-button{
       // color:white;
       // background-color: black;
    }
    .alert-md .alert-button{
          //border-radius: 7px;
      }  
    .alert-ios .alert-message,
    .alert-md .alert-message {
        //color: black;
        //background-color: #00b894;
    }
    .alert-ios .alert-message:empty {
      //padding: 0;
    }
    .alert-ios .alert-title,
    .alert-md .alert-title {
        //color: white;
    }
    .alert-ios .alert-radio-label,
    .alert-md .alert-radio-label {
        //color: white;
    }
    .alert-ios .alert-wrapper,
    .alert-md .alert-wrapper {
      //background-image: linear-gradient(to bottom right, #008bff, #052f52);
      //background-color: #40739e;
      //border-radius: 5px;
    } */
    ion-card, .card-ios .card-md {
      margin: 0px !important;
      width: 100%  !important;
    }

  ion-content.has-refresher > .scroll-content {
    background-color: #dad8d8 ;
  }

  .has-refresher > .scroll-content {
    border-top: 0px !important;
    color: white;
  }

  .refresher-pulling-text, .refresher-refreshing-text {
    color: white;
  }
  
.label-ios[stacked] {
  font-size: 4vw !important;
  color: black;
}
.label-md[stacked] {
  font-size: 4vw !important;
  color: black;
}

.button-ios {
  border-radius: 6px;
  height: 2.8em;
  font-size: 4vw !important;
  font-weight: bold;
  padding: 0 1em;
  margin: 0px !important;
}
.button-md {
  border-radius: 6px;
  height: 2.8em;
  font-size: 4vw !important;
  font-weight: bold;
  padding: 0 1em;
  margin: 0px !important;
}

//NO SIGNAL STYLE
.no-signal {
  background-color: white;
  z-index: inherit;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.img-no-signal {
  position: relative;
  top: 90px;
  width: 30%;
}

.txt-no-signal {
  position: relative;
  top: 90px;
  color: black;
  font-size: 4vw;
}

.txt-no-signal p {
  font-size: 6vw;
}


// CART STYLE
.toolbar-background {
  background-color: #9e4045;
}
@keyframes slc_o {
  0%   {min-height: 0px;}
  100% {min-height: 70%;}
}
@keyframes slc_c {
  0%   {min-height: 70%;}
  100% {min-height: 0px;}
}
@keyframes slc_bg_o {
  0%   {min-height: 100%; background-color: rgba(255, 255, 255, 0); }
  100% {min-height: 100%; background-color: rgba(0, 0, 0, 0.7);}
}
@keyframes slc_bg_c {
  0%   {min-height: 0%; background-color: rgba(0, 0, 0, 0.7);}
  100% {min-height: 0%; background-color: rgba(255, 255, 255, 0); }
}
.cart-content {
  background-color: white;
  width: 97%;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  position: fixed;
  display: flex;
  min-height: 0px;
  left: 5px;
  bottom: 50px;
  z-index: 1;
}
.cart-body {
  width: 100%;
  position: absolute;
  overflow-y: scroll;
  min-height: 100%
}
.cart-items {
  position: relative;
  width: 89%;
  top: 40px;
  left: 20px;
  min-height: 80px;
  border-bottom: 1px #cecbcb solid;
}
.cart-items2 {
  position: relative;

  width: 95%;
  top: -20px;
  left: 10px;
  min-height: 65px;
  border-bottom: 1px #cecbcb solid;
}
.cart-items3 {
  position: relative;

  width: 95%;
  top: -20px;
  left: 10px;
  min-height: 190px;
  border-bottom: 1px #cecbcb solid;
}
.totals2 {
  position: absolute;
  top: -50px;
  width: 100%;
  left: 0px;
}
.cart-description {
  position: absolute;
  top: 34px;
  left: 1px;
  //width: 60%;
        max-width: 200px !important;
        height: 15px !important;
        word-break: break-all;
        overflow: hidden;  
  font-weight: bold;
  font-size: 3.4vw;
  line-height: 14px;
}
.cart-description2 {
  position: absolute;
  top: 54px;
  left: 1px;
  //width: 60%;
        max-width: 100% !important;
        height: 15px !important;
        word-break: break-all;
        overflow: hidden;  
  font-weight: bold;
  font-size: 4.5vw;
  line-height: 14px;
}
.cart-price {
  position: absolute;
  top: 17px;
  right: 25px;
  width: 40%;
  text-align: right;
  font-weight: bold;
  font-size: 4.5vw;
}
.cart-price-small {
  position: absolute;
  top: 38px;
  right: 25px;
  width: 40%;
  color: gray;
  text-align: right;
  font-weight: bold;
  font-size: 2.5vw;
}
.cart-price2 {
  position: absolute;
  top: 17px;
  right: 1px;
  width: 40%;
  text-align: right;
  font-weight: bold;
  font-size: 4.5vw;
}
.cart-price-small2 {
  position: absolute;
  top: 38px;
  right: 1px;
  width: 40%;
  color: gray;
  text-align: right;
  font-weight: bold;
  font-size: 2.5vw;
}
.cart-carac {
  position: absolute;
  top: 18px;
  left: 1px;
  width: 80%;
  color: gray;
  font-weight: bold;
  font-size: 2.6vw;
}
.totals {
  position: relative;
}
.lbl-cart-price-discount {
  position: absolute;
  left: 10px;
  width: 50%;
  top: 55px;
  font-weight: bold;
  font-size: 4.3vw;
}
.lbl-cart-price-subtotal {
  position: absolute;
  left: 20px;
  width: 50%;
  top: 55px;
  font-weight: bold;
  font-size: 4.3vw;
}
.lbl-cart-price-subtotal2 {
  position: absolute;
  left: 10px;
  width: 50%;
  top: 112px;
  font-weight: bold;
  font-size: 4.3vw;
}
.lbl-cart-price-shipping {
  position: absolute;
  left: 20px;
  width: 80%;
  top: 75px;
  color: gray;  
  font-weight: bold;
  font-size: 2.7vw;
}
.lbl-cart-price-shipping2 {
  position: absolute;
  left: 10px;
  width: 78%;
  top: 135px;
  color: gray;  
  font-weight: bold;
  font-size: 3.3vw;
}
.lbl-cart-price-total {
  position: absolute;
  left: 20px;
  width: 50%;
  float: left;
  top: 92px;
  font-weight: bold;
  font-size: 5vw;
  color: #40739e;
}
.lbl-cart-price-total2 {
  position: absolute;
  left: 10px;
  width: 50%;
  float: left;
  top: 170px;
  font-weight: bold;
  font-size: 5.3vw;
  color: #40739e;
}
.cart-price-subtotal {
  position: absolute;
  right: 18px;
  width: 50%;
  top: 53px;
  text-align: right;
  font-weight: bold;
  font-size: 5.3vw;
}
.lbl-cart-price-coupon2 {
  position: absolute;
  left: 10px;
  width: 50%;
  float: left;
  top: 152px;
  font-weight: bold;
  font-size: 3.3vw;
  color: #9e4045;
}
.cart-price-subtotal2 {
  position: absolute;
  right: 10px;
  width: 50%;
  top: 112px;
  text-align: right;
  font-weight: bold;
  font-size: 4.3vw;
}
.cart-price-shipping {
  position: absolute;
  right: 20px;
  width: 100%;
  top: 75px;
  color: gray;
  text-align: right;
  font-weight: bold;
  font-size: 3.3vw;
}
.cart-price-shipping2 {
  position: absolute;
  right: 10px;
  width: 100%;
  top: 135px;
  color: gray;
  text-align: right;
  font-weight: bold;
  font-size: 3.3vw;
}
.cart-price-total {
  position: absolute;
  right: 20px;
  width: 100%;
  text-align: right;
  top: 90px;
  font-weight: bold;
  font-size: 5vw;
  color: #40739e;
}
.cart-price-total2 {
  position: absolute;
  right: 10px;
  width: 100%;
  text-align: right;
  top: 170px;
  font-weight: bold;
  font-size: 5.5vw;
  color: #40739e;
}
.cart-price-coupon2 {
  position: absolute;
  right: 10px;
  width: 100%;
  top: 152px;
  color: #9e4045;
  text-align: right;
  font-weight: bold;
  font-size: 3.3vw;
}
.cart-open {
  animation: slc_o 0.3s forwards;
  animation-timing-function: ease;
}
.cart-close {
  animation: slc_c 0.3s forwards;
  animation-timing-function: ease;
}
.cart-bg-open {
  animation: slc_bg_o 0.4s forwards;
  animation-timing-function: ease;
}
.cart-bg-close {
  animation: slc_bg_c 0.4s forwards;
  animation-timing-function: ease;
}

.cart-bg {
  width: 100%;
  position: fixed;
  left: 0px;
  top: 50px;
  min-height: 0%;
}
.actions {
  position: relative;
  top: 110px;
  min-width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
.ctrl-actions {
  position: relative;
  padding-bottom: 20px;
  
}
.ctl-actions {
  max-height: 40px;
  width: 85%;
}
.ctrl-buttons {
  position: absolute;
  left: 1px;
  top: 49px;
}
.ctl-buttons {
  max-height: 19px;
  max-width: 10px;
}
.del {
  border-color: white;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  color: white;
  background-color: #b44040;
}

.button-ios {
  margin: -3px !important;
}
.button-md {
  margin: -3px !important;
}
.num {
  border-color: white;
  border-radius: 0px;
  background-color: rgb(233, 230, 230);
  color: black;
  max-width: 30px;
}
.add {
  border-color: white;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  color: white;
  background-color: #b44040;
}

.close-cart {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  z-index: 10000;
  background-color: white;
  border-radius: 6px;
  border-bottom: 20px solid;
  border-image: linear-gradient(to bottom, rgba(255,255,255,1) 4%, rgba(255,255,255,1) 32%, rgba(255,255,255,0.56) 62%, rgba(255,255,255,0.53) 64%, rgba(254,254,254,0) 100%);;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
.bt-close-cart {
  color: #9e4045;
  font-weight: bold;
  font-size: 8.8vw;
  
}
.delete-cart {
  position: absolute;
  top: 20px;
  right: 1px;
}
.bt-delete-cart {
  color: #9e4045;
  font-weight: bold;
  font-size: 6vw;
}
.qtd_footer {
  color: white;
  font-size: 2.8vw;
  font-weight: bold;
  margin-left: 7px;
}
.val_footer {
  color: white;
  font-size: 5vw;
  font-weight: bold;
  margin-left: 7px;
}