<ion-header *ngIf="1 == 2">
    <ion-navbar>
      <ion-title color="light">Recuperar Senha</ion-title>
    </ion-navbar>
  </ion-header>

    <ion-content padding class="masters">
            <div class="header">
                    <img src="assets/imgs/logo.png" class="logo"/>
                </div>   
        
        <div class="footer">
            <form [formGroup]="form2" *ngIf="checked == false" (submit)="rememberPassword()">
                <ion-list no-lines>
                    <ion-item class="nolines">
                        <ion-label *ngIf="form2.controls.user2.valid || (!form2.controls.user2.dirty && !submitAttempt2)" color="light" stacked>Informe seu Email de Cadastro:</ion-label>
                        <ion-label *ngIf="!form2.controls.user2.valid  && (form2.controls.user2.dirty || submitAttempt2)" color="light" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Informe seu Email corretamente!</strong></ion-label>
                        <ion-input type="email" placeholder="seu@email.com.br" name="user2" formControlName="user2"></ion-input>
                    </ion-item>
                </ion-list>
                <div class="btns">
                    <button ion-button class="buttons" color="buttons" block icon-left type="submit">
                        LEMBRAR SENHA
                    </button>
                </div>
            </form>
            <form [formGroup]="form" *ngIf="checked == true" (submit)="savePassword()">
                <ion-list no-lines>
                    <ion-item class="nolines">
                        <ion-label *ngIf="form.controls.user.valid || (!form.controls.user.dirty && !submitAttempt)" color="light" stacked>Informe seu Email de Cadastro:</ion-label>
                        <ion-label *ngIf="!form.controls.user.valid && (form.controls.user.dirty || submitAttempt)" color="light" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Informe seu Email corretamente!</strong></ion-label>
                        <ion-input type="email" value="{{ user2 }}" [readonly]="checked" placeholder="seu@email.com.br" name="user" formControlName="user"></ion-input>
                    </ion-item>
                    <ion-item class="nolines">
                        <ion-label *ngIf="form.controls.code.valid  || (!form.controls.code.dirty && !submitAttempt)" color="light" stacked>Código recebido no seu Email:</ion-label>
                        <ion-label *ngIf="!form.controls.code.valid && (form.controls.code.dirty || submitAttempt)" color="light" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Informe o código corretamente!</strong></ion-label>
                        <ion-input maxlength="6" formControlName="code" type="tel" placeholder="Ex: 123456"></ion-input>
                    </ion-item>
                    <ion-item class="nolines">
                        <ion-label *ngIf="form.controls.pwd.valid || (!form.controls.pwd.dirty && !submitAttempt)" color="light" stacked>Nova Senha:</ion-label>
                        <ion-label *ngIf="!form.controls.pwd.valid && (form.controls.pwd.dirty || submitAttempt)" color="light" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Informe sua senha corretamente!</strong></ion-label>
                        <ion-input maxlength="8" formControlName="pwd" type="password" placeholder="De 6 a 8 caracteres"></ion-input>
                    </ion-item>
                    <ion-item class="nolines">
                        <ion-label *ngIf="form.controls.cpwd.valid || (!form.controls.cpwd.dirty && !submitAttempt)" color="light" stacked>Confirme a Senha:</ion-label>
                        <ion-label *ngIf="!form.controls.cpwd.valid && (form.controls.cpwd.dirty || submitAttempt)" color="light" stacked><strong class="error"><ion-icon name="alert"></ion-icon> As senhas não conferem!</strong></ion-label>
                        <ion-input maxlength="8" formControlName="cpwd" type="password" placeholder="De 6 a 8 caracteres"></ion-input>
                    </ion-item>
                </ion-list>
                <div class="btns">
                    <button ion-button class="buttons" color="buttons" block icon-left type="submit">
                        ALTERAR SENHA
                    </button>
                </div>
            </form>
            <div class="links">
                <a href="#" (click)="goBack();">Voltar</a>
            </div>
        </div>  
    </ion-content>