page-senha {

    .item .item-content
    {
        background-color: #ff8585 !important;
        color: #fff;
        border-bottom: 1px solid green;

    }

    .list-md .item-input:last-child {
        border-bottom: transparent;
    }

    .header {
        position: absolute;
        margin-top: 10px;
        left: 0px;
        width: 100%;
        text-align: center;
    }

    

    .logo {
        max-width: 60%;
    }

    .masters {
        background-color: #40739e;
        color: white;
    }

  .nolines {
    background-color: transparent;
    color: white;
  }

#fb {
    margin-top: 5px;
    background-color: #3b5998; 
    padding: 2px 4px;
    font: 13px sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #fff
}

#fb:hover { background-color: #3b5998; }

.links {
    position: relative;
    width: 100%;
    text-align: center;
    float: left;
    top: 20px;
}

a {
    color: white;
    text-decoration: none;
}

.sn {
    position: relative;
    left: 0px;
    color: white;
    text-decoration: none;
    font-size: 6vw;
    width: 180px !important;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
}

.item-md.item-block .item-inner,
.item-md.item-input.input-has-focus .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
.list-md .item-input.input-has-focus:last-child,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
    border-bottom: none;
    box-shadow: none;
}
.list-md .item-input.input-has-focus:last-child .item-inner,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner,
.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child .item-inner {
    box-shadow: none; 
}

.btns {
    position: relative;
    left: 20px;
    width: 90%;
    padding-bottom: 20px;
}

.footer {
    position: absolute;
    bottom: 40px;
    left: 0px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 4.5vw;
}

// use in cadastro page or other pages that have input forms
.label-md[stacked] {
    color: white;
    font-weight: bold;
}
.item-input-has-focus .label-md[stacked], .input-has-focus .label-md[stacked] {
    color: white;
    font-weight: bold;
}
.label-ios[stacked] {
    color: white;
    font-weight: bold;
}
.item-input-has-focus .label-ios[stacked], .input-has-focus .label-ios[stacked] {
    color: white;
    font-weight: bold;
}
.error {
            
    color: #f37053;
  
}
.text-input-ios {
    border-radius: 4px;
    border: 1px solid rgb(197, 196, 196);
    width: 100%;
    height: 40px;
    background-color: rgb(243, 244, 245);
    padding-left: 5px;
}
.text-input-md {
    border-radius: 4px;
    border: 1px solid rgb(197, 196, 196);            
    width: 100%;
    height: 40px;
    background-color: rgb(243, 244, 245);
    padding-left: 5px;
}
.item-md {
    margin-bottom: -15px;
    padding-right: 5px;
}
.item-ios {
    margin-bottom: -15px;
    padding-right: 5px;
}
.list-md {
    margin: 0px 0px 25px;
}
.list-ios {
   margin: 0px 0px 25px;
}
}