.ios, .md {
 
    page-pagamento {
 
        .toolbar-background {
            background-color: #40739e;
        }
        .bar-button-default-ios {
            color: white;
          }
          .bar-button-default-md {
            color: white;
          }
        .masters {
            font-size: 5vw;
            background-color: transparent;
            color: white;
        }

        .masters2 {
            background-color: #dad8d8 !important;
            color: black;
        } 
        .clear-header {
            margin-top: 10px;
        }
        .masters3 {
            color: black;
        } 
        .upper {
            text-transform: capitalize;
        }
        ion-grid {
            background-color: rgb(255, 255, 255);
            margin-bottom: 10px;
            border-bottom: 2px rgb(206, 204, 204) solid;
          }

         

        .error {
            
            color: #f37053;
          
        }

        .item .item-content
        {
            background-color: #ff8585 !important;
            color: #fff;
            border-bottom: 1px solid green;

        }
 
        .swiper-slide {
            display: block;
        }

        .line {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #fff;
            padding: 0; 
        }

        .list-payment {
            max-height: 120px;
            overflow-y: scroll;
        }

        .total-payment {
            min-height: 136px;
            top: -16px;
        }
        .icons {
            font-size: 40px; //Preferred size here
            color: white;
          }
 
      
        .invalid {
            border-bottom: 1px solid #ea6153;
        }

        p {
            font-size: 4.5vw;  
            font-weight: bold;
        }
        .col {
            padding: 0px !important;
        }
        .coupon {
            position: absolute;
            top: 55px;
            right: 10px;
            width: 95%;
            height: 40px;
        }
        .coupon .text-input-ios {
            border-radius: 4px;
            border: 1px solid rgb(197, 196, 196);
            position: absolute;
            color: #40739e;
            top: -10px;
            right: -8px;
            width: 100%;
            height: 40px;
            background-color: rgb(243, 244, 245);
            padding-left: 5px;
        }
        .text-input-ios {
            border-radius: 4px;
            border: 1px solid rgb(197, 196, 196);
            width: 100%;
            height: 40px;
            background-color: rgb(243, 244, 245);
            padding-left: 5px;
        }
        .coupon .text-input-md {
            border-radius: 4px;
            border: 1px solid rgb(197, 196, 196);
            position: absolute;
            color: #40739e;
            top: -12px;
            right: -8px;
            width: 99%;
            height: 40px;
            background-color: rgb(243, 244, 245);
            padding-left: 5px;
        }
        .text-input-md {
            border-radius: 4px;
            border: 1px solid rgb(197, 196, 196);            
            width: 100%;
            height: 40px;
            background-color: rgb(243, 244, 245);
            padding-left: 5px;
        }
        .select-md .select-icon {
            margin-top: 4px;
        }
        .select-md .select-icon-inner {
            color: black;
            padding-top: 10px;
        }
        .item-label-stacked .select-md {
            padding-top: 6px;
        }
        .select-ios .select-icon {
            margin-top: 4px;
        }
        .select-ios .select-icon-inner {
            color: black;
            padding-top: 10px;
        }
        .item-label-stacked .select-ios {
            padding-top: 6px;
        }
        .select-md {
            border-radius: 4px;
            color: black;
            border: 1px solid rgb(197, 196, 196);            
            width: 100%;
            height: 40px;
            background-color: rgb(243, 244, 245);
            padding-left: 5px;
            padding-top: -10px;
            margin-top: 8px;
        }
        .select-ios {
            border-radius: 4px;
            color: black;
            border: 1px solid rgb(197, 196, 196);            
            width: 100%;
            height: 40px;
            background-color: rgb(243, 244, 245);
            padding-left: 5px;
            padding-top: -10px;
            margin-top: 8px;
        }
        .bt-coupon {
            background-color: #ea6153;
            border-bottom-left-radius: 0px;
            border-top-left-radius: 0px;
            color: white;
            font-weight: bold;
            border: 1px white;
            position: absolute;
            top: 4px;
            right: 2px;
            height: 40px;
        }
        .addFund {
            position: absolute;
            bottom: 58px;
            right: 10px;
            color: #40739e;
            font-size: 3.2vw;
            text-align: right;
            font-weight: bold;
            text-decoration: underline;
          }
        .item-md.item-block .item-inner,
        .item-md.item-input.input-has-focus .item-inner,
        .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
        .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
        .list-md .item-input.input-has-focus:last-child,
        .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
        .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
            border-bottom: none;
            box-shadow: none;
        }
        .list-md .item-input.input-has-focus:last-child .item-inner,
        .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner,
        .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child .item-inner {
            box-shadow: none; 
        }
        .item-md {
            padding-left: 0px;
        }
        .item-ios {
            padding-left: 0px;
        }
        .radio-md .radio-icon {
            border-color: #ccc;
        }
        .radio-ios .radio-icon {
            color: #ccc;
        }
        .radio-md .radio-checked {
            border-color: #ea6153;
        }
        .radio-md .radio-inner {
            background-color: #ea6153;
        }
        .radio-ios .radio-checked .radio-inner {
            border-color: #ea6153;
        }
        .item-radio-checked.item-md ion-label {
            color: #ea6153;
            font-weight: bold;
        }
        .item-radio-checked.item-ios ion-label {
            color: #ea6153;
            font-weight: bold;
        }

    }    
 
}
.md {
    .brands {
        position: absolute;
        top: 266px;
        right: 16px;
        z-index: 2;
    }
}
.ios {
    .brands {
        position: absolute;
        top: 271px;
        right: 23px;
        z-index: 2;
    }
}
.ios {
    .seligapay {
        position: absolute;
        top: 15px;
        right: 10px;
        width: 88%;
        text-align: right;
    }
    .img_seligapay {
      width: 29%;
    }

}
.md {
    .seligapay {
        position: absolute;
        top: 15px;
        right: 10px;
        width: 88%;
        text-align: right;
    }
    .img_seligapay {
      width: 29%;
    }

}