<ion-header>
    <ion-navbar>
        <ion-title color="light">
        Pagamento
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="masters2">

        <div class="clear-header"></div>
               
       
            
            <ion-grid padding class="animated bounceInDown">
                <ion-row>
                    <ion-col col-12>
                        <p><ion-icon name="cart"></ion-icon> Seu Pedido:</p>
                    </ion-col>
                </ion-row>            
                <ion-row>
                    <ion-col col-12  class="list-payment">
                        <div class="cart-items2" *ngFor="let cart of globals.cart_items">
                            <div class="cart-description">{{ cart.qtd }}x {{ cart.description }} {{ cart.caracteristic }}</div>
                            <div class="cart-price2">{{ (cart.qtd * cart.vlunit) | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</div>
                            <div class="cart-price-small2" *ngIf="cart.qtd > 1">{{ cart.vlunit | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }} cada</div>
                            <div class="cart-carac">Oferecido por {{ cart.store }}</div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid padding class="animated bounceInLeft">
                <ion-row>
                    <ion-col col-12>
                        <p><ion-icon name="pricetag"></ion-icon> Cupom & Totais:</p>
                    </ion-col>
                </ion-row> 
                <ion-row>
                    <ion-col col-12 class="total-payment">
                        <div class="totals2">
                            <div class="coupon" [formGroup]="formc">
                                <ion-input class="txtcoupon" formControlName="mycoupon" maxlength="12" placeholder="Insira seu Cupom de desconto"></ion-input>
                                <button class="bt-coupon" (click)="getCoupon();" ion-button item-end small outline><ion-icon name="checkmark"></ion-icon></button>
                            </div>
                            <div class="lbl-cart-price-subtotal2">Subtotal</div>
                            <div class="cart-price-subtotal2">{{ globals.total_cart | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</div>
                            <div class="lbl-cart-price-shipping2">Taxa de entrega <!-- <ion-icon name="information-circle"></ion-icon> --></div>
                            <div class="cart-price-shipping2">{{ currShipping | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</div>
                            <div class="lbl-cart-price-coupon2">Cupom de desconto</div>
                            <div class="cart-price-coupon2">{{ currCoupon | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</div>
                            <div class="lbl-cart-price-total2">Total do Pedido</div>
                            <div class="cart-price-total2">{{ currTotal || globals.total_cart  | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        
            <form [formGroup]="form" (submit)="checkPayment()">

            <ion-grid padding class="animated bounceInRight">   
                <ion-row>
                    <ion-col col-12>
                        <ion-list radio-group no-lines>
                            <p><ion-icon name="checkmark-circle-outline"></ion-icon> Selecione uma forma de pagamento:</p>
                            <ion-item class="masters">
                                <ion-label color="dark"><ion-icon name="card"></ion-icon> Cartão de Crédito</ion-label>
                                <ion-radio value="CreditCard" (click)="changePayment('CREDIT_CARD')"></ion-radio>
                            </ion-item>
                            <ion-item class="masters">
                                <ion-label color="dark"><ion-icon name="barcode"></ion-icon> Boleto Bancário</ion-label>
                                <ion-radio value="Boleto" (click)="changePayment('boleto')"></ion-radio>
                            </ion-item>
                            <ion-item class="masters">
                                <ion-label color="dark"><ion-icon name="albums"></ion-icon> Se Liga pay!</ion-label>
                                <ion-radio value="Wallet" (click)="changePayment('wallet')"></ion-radio>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid padding class="animated bounceInLeft" *ngIf="cc == 1">
                <ion-row>
                    <ion-col col-12>
                        <img *ngIf="show_brand == true" class="brands" [src]="brand_card">
                        <ion-list radio-group no-lines>
                            <p id="cre"><ion-icon name="card"></ion-icon> Informe os dados do cartão:</p>
                            <ion-item class="masters" >
                                <ion-label *ngIf="cc == 1 && form.controls.nameCard.valid || (!form.controls.nameCard.dirty && !submitAttempt)" color="dark" stacked>Títular do Cartão:</ion-label>
                                <ion-label *ngIf="cc == 1 && !form.controls.nameCard.valid  && (form.controls.nameCard.dirty || submitAttempt)" color="dark" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Informe o titular do cartão!</strong></ion-label>
                                <ion-input class="upper" maxlength="20" formControlName="nameCard" placeholder="Nome como aparece no cartão!"></ion-input>
                            </ion-item>
                            <ion-item class="masters">
                                <ion-label *ngIf="cc == 1 && form.controls.cpf.valid || (!form.controls.cpf.dirty && !submitAttempt)" color="light"stacked>CPF do Titular do Cartão:</ion-label>
                                <ion-label *ngIf="cc == 1 && !form.controls.cpf.valid  && (form.controls.cpf.dirty || submitAttempt)" color="light" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Informe o CPF corretamente!</strong></ion-label>
                                <ion-input maxlength="14" [brmasker]="{mask:'000.000.000-00', len:14}" formControlName="cpf" type="tel" placeholder="Informe o CPF do Titular"></ion-input>
                            </ion-item>
                            <ion-item class="masters">
                                <ion-label *ngIf="cc == 1 && form.controls.numCard.valid || (!form.controls.numCard.dirty && !submitAttempt)" color="light" stacked>Número do Cartão:</ion-label>
                                <ion-label *ngIf="cc == 1 && !form.controls.numCard.valid  && (form.controls.numCard.dirty || submitAttempt)" color="light" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Informe o número do Cartão corretamente!</strong></ion-label>
                                <ion-input #card maxlength="19" (ionChange)="focus('numCard', 'mesValidadeCard')" [brmasker]="{mask:'0000.0000.0000.0000', len:19}" (ionChange)="detectCardType();" (ionBlur)="pagseg.buscaBandeira(currTotal, 12);" formControlName="numCard" type="tel" placeholder="Digite o número do cartão!"></ion-input>
                            </ion-item>
                            <div class="row">
                                <div class="col">
                                    <ion-item class="masters">
                                        <ion-label color="light" *ngIf="cc == 1 && form.controls.mesValidadeCard.valid || (!form.controls.mesValidadeCard.dirty && !submitAttempt)" stacked>Validade (Mês):</ion-label>
                                        <ion-label *ngIf="cc == 1 && !form.controls.mesValidadeCard.valid  && (form.controls.mesValidadeCard.dirty || submitAttempt)" color="light" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Mês incorreto!</strong></ion-label>
                                        <ion-input #month maxlength="2" (ionChange)="focus('mesValidadeCard', 'anoValidadeCard')" type="tel" formControlName="mesValidadeCard" placeholder="Ex: 10"></ion-input>
                                    </ion-item>
                                </div>
                                <div class="col">
                                    <ion-item class="masters">
                                        <ion-label *ngIf="cc == 1 && form.controls.anoValidadeCard.valid || (!form.controls.anoValidadeCard.dirty && !submitAttempt)" color="light" stacked>Validade (Ano):</ion-label>
                                        <ion-label *ngIf="cc == 1 && !form.controls.anoValidadeCard.valid  && (form.controls.anoValidadeCard.dirty || submitAttempt)" color="light" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Ano incorreto!</strong></ion-label>
                                        <ion-input #year maxlength="4"(ionChange)="focus('anoValidadeCard', 'codSegCard')" type="tel" formControlName="anoValidadeCard" placeholder="Ex: 2025"></ion-input>
                                    </ion-item>
                                </div>
                            </div>
                            <ion-item class="masters">
                                <ion-label *ngIf="cc == 1 && form.controls.codSegCard.valid || (!form.controls.codSegCard.dirty && !submitAttempt)" color="light" stacked>Código de Segurança:</ion-label>
                                <ion-label *ngIf="cc == 1 && !form.controls.codSegCard.valid  && (form.controls.codSegCard.dirty || submitAttempt)" color="light" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Informe os 3 dígitos atrás do seu cartão!</strong></ion-label>
                                <ion-input #ccv type="tel" maxlength="3" formControlName="codSegCard" placeholder="Ex: 555"></ion-input>
                            </ion-item>     
                            <ion-item class="masters" *ngIf="cc == 1 && pagseg.dados.parcelas.length > 0">
                                <ion-label *ngIf="cc == 1 && form.controls.parcelas.valid || (!form.controls.parcelas.dirty && !submitAttempt)" color="light" stacked>Parcelamento:</ion-label>
                                <ion-label *ngIf="cc == 1 && !form.controls.parcelas.valid  && (form.controls.parcelas.dirty || submitAttempt)" color="light" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Selecione o parcelamento desejado!</strong></ion-label>
                                <ion-select okText="OK" cancelText="Cancelar" placeholder="Parcelar o valor de " formControlName="parcelas">
                                    <ion-option *ngFor="let par of pagseg.dados.parcelas" [value]="par.quantity + '|' + par.installmentAmount">{{ par.quantity }}x de {{ par.installmentAmount | currency: 'R$ ' : 'symbol' : '1.2-2' : 'pt' }}</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-list> 
                        <button ion-button icon-start block color="buttons" type="submit">
                            <ion-icon name="card"></ion-icon>
                            PAGAR COM CARTÃO
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
            
            <ion-grid padding class="animated bounceInRight" *ngIf="cc == 2">
                <ion-row>
                    <ion-col col-12>
                        <p id="bol" ><ion-icon name="barcode"></ion-icon> Pagar com Boleto Bancário:</p>
                        Um boleto será gerado no valor de <strong>{{ currTotal | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</strong> e 
                        encaminhando ao seu e-mail de cadastro!<br><br>
                        A compensação ocorre dentro de 1 a 2 dias úteis.<br><br>
                        Após compensado o boleto, seu pedido será executado!<br> <br>     
                        <button ion-button icon-start block color="buttons" type="submit">
                            <ion-icon name="barcode"></ion-icon>
                            PAGAR COM BOLETO
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>                
        
            <ion-grid padding class="animated bounceInUp" *ngIf="cc == 3">
                <ion-row>
                    <ion-col col-12>
                        <p id="wal"><ion-icon name="albums"></ion-icon> Pagar com Se Liga pay!</p>
                        <div [innerHTML]="msg_wallet_fund"></div><br>
                        Valor do Pedido: <strong>{{ currTotal | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</strong><br>
                        Saldo da Carteira: <strong>{{ wallet_fund | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</strong><br><br>
                        <a *ngIf="wallet_fund == 0" (click)="addFund()" class="addFund">Adicionar Saldo</a>
                        <button ion-button [disabled]="btn_wallet_fund" icon-start block color="buttons" type="submit">
                            <ion-icon name="albums"></ion-icon>
                            PAGAR COM CARTEIRA VIRTUAL
                        </button>
                        <div class="seligapay"><img class="img_seligapay" src="assets/imgs/seligapay.png"></div>
                    </ion-col>
                </ion-row>
            </ion-grid>
            
        </form>
           
</ion-content>
      