<ion-header>
    <ion-navbar>
        <ion-title color="light">
        Se Liga pay!
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="masters2">

        <div class="clear-header"></div>
               
            <ion-grid padding class="animated bounceInDown">
                <ion-row>
                    <ion-col col-12>
                        <p><ion-icon name="albums"></ion-icon> Sua Carteira Virtual:</p>
                    </ion-col>
                </ion-row> 
                <ion-row>
                    <ion-col col-12>
                        Selecione o valor desejado que deseja depositar em sua carteira virtual do Se Liga pay!
                    </ion-col>
                </ion-row> 
                <ion-row>
                    <ion-col col-12>
                        <br>Os valores de depósitos são múltiplos de R$50 até R$ 1000. Você pode combinar valores, clicando mais de uma vez no botão desejado. Clique em LIMPAR para recomeçar:
                    </ion-col>
                </ion-row>            
                <ion-row>
                    <ion-col col-12  class="list-payment">
                        <div class="cart-items3">
                            <div class="cart-description">Saldo atual: {{ wallet_fund | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</div>
                            <div class="cart-description2">Valor solicitado: <strong style="color:#b44040">{{ currTotal | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</strong></div>
                            <button icon-start ion-button class="endbutton2 animated" color="offers" (click)="addCash(50)">
                                + R$ 50
                            </button>
                            <button icon-start ion-button class="endbutton2 animated" color="offers" (click)="addCash(100)">
                                + R$ 100
                            </button>
                            <button icon-start ion-button class="endbutton2 animated" color="offers" (click)="addCash(200)">
                                + R$ 200
                            </button>
                            <button icon-start ion-button class="endbutton2 animated" color="offers" (click)="addCash(500)">
                                + R$ 500
                            </button>
                            <button icon-start ion-button class="endbutton2 animated" color="offers" (click)="addCash(1000)">
                                + R$ 1000
                            </button>
                            <button icon-start ion-button class="endbutton2 animated" color="offers" (click)="clearCash()">
                                LIMPAR
                            </button> 
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        
            <form [formGroup]="form" (submit)="checkPayment()">

            <ion-grid padding class="animated bounceInRight">   
                <ion-row>
                    <ion-col col-12>
                        <ion-list radio-group no-lines>
                            <p><ion-icon name="checkmark-circle-outline"></ion-icon> Selecione uma forma de pagamento:</p>
                            <ion-item class="masters">
                                <ion-label color="dark"><ion-icon name="card"></ion-icon> Cartão de Crédito</ion-label>
                                <ion-radio value="CreditCard" (click)="changePayment('CREDIT_CARD')"></ion-radio>
                            </ion-item>
                            <ion-item class="masters">
                                <ion-label color="dark"><ion-icon name="barcode"></ion-icon> Boleto Bancário</ion-label>
                                <ion-radio value="Boleto" (click)="changePayment('boleto')"></ion-radio>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid padding class="animated bounceInLeft" *ngIf="cc == 1">
                <ion-row>
                    <ion-col col-12>
                        <img *ngIf="show_brand == true" class="brands" [src]="brand_card">
                        <ion-list radio-group no-lines>
                            <p id="cre"><ion-icon name="card"></ion-icon> Informe os dados do cartão:</p>
                            <ion-item class="masters" >
                                <ion-label *ngIf="cc == 1 && form.controls.nameCard.valid || (!form.controls.nameCard.dirty && !submitAttempt)" color="dark" stacked>Títular do Cartão:</ion-label>
                                <ion-label *ngIf="cc == 1 && !form.controls.nameCard.valid  && (form.controls.nameCard.dirty || submitAttempt)" color="dark" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Informe o titular do cartão!</strong></ion-label>
                                <ion-input class="upper" maxlength="20" formControlName="nameCard" placeholder="Nome como aparece no cartão!"></ion-input>
                            </ion-item>
                            <ion-item class="masters">
                                <ion-label *ngIf="cc == 1 && form.controls.cpf.valid || (!form.controls.cpf.dirty && !submitAttempt)" color="light"stacked>CPF do Titular do Cartão:</ion-label>
                                <ion-label *ngIf="cc == 1 && !form.controls.cpf.valid  && (form.controls.cpf.dirty || submitAttempt)" color="light" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Informe o CPF corretamente!</strong></ion-label>
                                <ion-input maxlength="14" [brmasker]="{mask:'000.000.000-00', len:14}" formControlName="cpf" type="tel" placeholder="Informe o CPF do Titular"></ion-input>
                            </ion-item>
                            <ion-item class="masters">
                                <ion-label *ngIf="cc == 1 && form.controls.numCard.valid || (!form.controls.numCard.dirty && !submitAttempt)" color="light" stacked>Número do Cartão:</ion-label>
                                <ion-label *ngIf="cc == 1 && !form.controls.numCard.valid  && (form.controls.numCard.dirty || submitAttempt)" color="light" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Informe o número do Cartão corretamente!</strong></ion-label>
                                <ion-input #card maxlength="19" (ionChange)="focus('numCard', 'mesValidadeCard')" [brmasker]="{mask:'0000.0000.0000.0000', len:19}" (ionChange)="detectCardType();" (ionBlur)="pagseg.buscaBandeira(currTotal, 3);" formControlName="numCard" type="tel" placeholder="Digite o número do cartão!"></ion-input>
                            </ion-item>
                            <div class="row">
                                <div class="col">
                                    <ion-item class="masters">
                                        <ion-label color="light" *ngIf="cc == 1 && form.controls.mesValidadeCard.valid || (!form.controls.mesValidadeCard.dirty && !submitAttempt)" stacked>Validade (Mês):</ion-label>
                                        <ion-label *ngIf="cc == 1 && !form.controls.mesValidadeCard.valid  && (form.controls.mesValidadeCard.dirty || submitAttempt)" color="light" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Mês incorreto!</strong></ion-label>
                                        <ion-input #month maxlength="2" (ionChange)="focus('mesValidadeCard', 'anoValidadeCard')" type="tel" formControlName="mesValidadeCard" placeholder="Ex: 10"></ion-input>
                                    </ion-item>
                                </div>
                                <div class="col">
                                    <ion-item class="masters">
                                        <ion-label *ngIf="cc == 1 && form.controls.anoValidadeCard.valid || (!form.controls.anoValidadeCard.dirty && !submitAttempt)" color="light" stacked>Validade (Ano):</ion-label>
                                        <ion-label *ngIf="cc == 1 && !form.controls.anoValidadeCard.valid  && (form.controls.anoValidadeCard.dirty || submitAttempt)" color="light" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Ano incorreto!</strong></ion-label>
                                        <ion-input #year maxlength="4"(ionChange)="focus('anoValidadeCard', 'codSegCard')" type="tel" formControlName="anoValidadeCard" placeholder="Ex: 2025"></ion-input>
                                    </ion-item>
                                </div>
                            </div>
                            <ion-item class="masters">
                                <ion-label *ngIf="cc == 1 && form.controls.codSegCard.valid || (!form.controls.codSegCard.dirty && !submitAttempt)" color="light" stacked>Código de Segurança:</ion-label>
                                <ion-label *ngIf="cc == 1 && !form.controls.codSegCard.valid  && (form.controls.codSegCard.dirty || submitAttempt)" color="light" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Informe os 3 dígitos atrás do seu cartão!</strong></ion-label>
                                <ion-input #ccv type="tel" maxlength="3" formControlName="codSegCard" placeholder="Ex: 555"></ion-input>
                            </ion-item>     
                            <ion-item class="masters" *ngIf="cc == 1 && pagseg.dados.parcelas.length > 0">
                                <ion-label *ngIf="cc == 1 && form.controls.parcelas.valid || (!form.controls.parcelas.dirty && !submitAttempt)" color="light" stacked>Parcelamento:</ion-label>
                                <ion-label *ngIf="cc == 1 && !form.controls.parcelas.valid  && (form.controls.parcelas.dirty || submitAttempt)" color="light" stacked><strong class="error"><ion-icon name="alert"></ion-icon> Selecione o parcelamento desejado!</strong></ion-label>
                                <ion-select okText="OK" cancelText="Cancelar" placeholder="Parcelar o valor de " formControlName="parcelas">
                                    <ion-option *ngFor="let par of pagseg.dados.parcelas" [value]="par.quantity + '|' + par.installmentAmount">{{ par.quantity }}x de {{ par.installmentAmount | currency: 'R$ ' : 'symbol' : '1.2-2' : 'pt' }}</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-list> 
                        <button ion-button icon-start block color="buttons" type="submit">
                            <ion-icon name="card"></ion-icon>
                            PAGAR COM CARTÃO
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
            
            <ion-grid padding class="animated bounceInRight" *ngIf="cc == 2">
                <ion-row>
                    <ion-col col-12>
                        <p id="bol" ><ion-icon name="barcode"></ion-icon> Pagar com Boleto Bancário:</p>
                        Um boleto será gerado no valor de <strong>{{ currTotal | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</strong> e 
                        encaminhando ao seu e-mail de cadastro!<br><br>
                        A compensação ocorre dentro de 1 a 2 dias úteis.<br><br>
                        Após compensado o boleto, sua carteira virtual será atualizada junto com o valor pago!<br> <br>     
                        <button ion-button icon-start block color="buttons" type="submit">
                            <ion-icon name="barcode"></ion-icon>
                            PAGAR COM BOLETO
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>                
            
        </form>
           
</ion-content>
      