page-divulga {
  .toolbar-background {
    background-color: #40739e;
  }
  .bar-button-default-ios {
    color: white;
  }
  .bar-button-default-md {
    color: white;
  }
  .masters {
    background-color: white;
    color: black;
  }
  h2 {
    font-size: 6vw;
  }
  p {
      font-size: 3.5vw;
  }
}