<ion-header>
    <ion-navbar>
      <ion-title color="light">
        Divulgue no App
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="masters">
    <h2>Seja um Parceiro do Se Liga Aí!</h2>
    <p>
       Aqui você divulga suas ofertas e promoções de maneira rápida e intuitiva, bem como
       pode vender online através do App.
    </p>
    <p>
      Para isso, basta cadastrar sua empresa, contratar um plano de divulgação, lançar ofertas
      ou promoções e pronto!
    </p>
    <p>
      Você terá acesso a um Painel Administrativo completo, onde poderá acompanhar todas
      as ofertas e promoções cadastradas, seja produto ou serviço, ver os pedidos realizados
      dos seus cliente no App, divulgar cupons de desconto e muito mais!
    </p>
    <p>
     Suas ofertas e promoções ficam ativas e visíveis pelo período de tempo que você determinar. 
    </p>
    <p>
      Acesse o <a target="_blank" href="https://em2d.com.br/se-liga-ai-administrator/signup">Painel Gerenciador</a>
      do Se Liga Aí<br>e cadastre sua empresa, ou se preferir:<br><br>
      Ligue para <strong>(87) 98841-3850</strong> e fale com a gente! 
    </p>
  
  </ion-content>
  
  
  