<ion-header>
        <ion-navbar>
          <ion-title color="light">
            Em Destaque
          </ion-title>
        </ion-navbar>
      </ion-header>
      
      <ion-content class="masters">

          <div class="clear-header"></div>

          <ion-grid *ngFor="let dat of items">
              <ion-row>
                <ion-col col-12>
                    <span class="description-col">{{ dat.store }}</span>
                    <div *ngIf="dat.modality == 2 || dat.modality == 3" class="discountprod">{{ dat.rounddiscount }}% OFF</div>
                    <div *ngIf="dat.modality == 1 || dat.modality == 3" class="discountprodred">OFERTA</div>
                </ion-col>
                <ion-col col-12>
                    <div class="description-cat">{{ dat.category }}</div>
                    <div class="title-col"><strong>{{ dat.name }}</strong></div>
                    <div *ngIf="dat.modality == 2" class="divpricesP">
                        <div class="priceprod old">{{ dat.oldprice | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</div>
                        <div class="priceprod new">{{ dat.newprice | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</div>
                    </div>
                    <div *ngIf="dat.modality != 2" class="divpricesO">
                      <div class="new">{{ dat.oldprice | currency: 'R$' : 'symbol' : '1.2-2' : 'pt' }}</div>
                  </div>
                </ion-col>
                <ion-col col-12>
                    <div class="description-col">
                      <a class="link-gray" (click)="checkFocus()">Ver dias e hor&aacute;rios</a>
                    </div>
                </ion-col>
                <ion-col col-12>
                    <ion-badge *ngIf="dat.starts <= 0" class="valids" color="danger">{{ dat.ends }}</ion-badge>
                </ion-col>
                <ion-col col-12>
                        <button ion-button small class="endbutton animated" color="offers" (click)="getProductDetails(dat.ofeid, dat.store, dat.starts)">
                          + DETALHES
                      </button>
                </ion-col>
              </ion-row>  
          </ion-grid>
          <div *ngIf="nohighlights == true" class="noitems"><ion-icon class="icons" name="pricetag"></ion-icon><br>Nenhum ítem em destaque!</div>

        
      </ion-content>